<template>
    <div class="side-collapse-container">
        <div class="topik">
            <div class="container">
                <p> Kategori Topik pada Toba Camp Course </p>
            </div>
        </div>
        <div class="container">
            <b>Temukan bidang minat Anda dengan daftar Kategori kami</b>
            <form class="navbar-form" role="search">
                <div class="input-group add-on">
                <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
                <div class="input-group-btn pull-left">
                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
                </div>
            </form>
            <div class="row">                
                <div class="col-md-6" v-for="topik in getTopik" :key="topik.id">
                    <div class="panel panel-default" style="border: 10px; padding:30px; margin-bottom: 20px; border: 1px solid lightgray; box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19); border-radius: 10px;">
                       <p class="fa fa-laptop-code"> {{topik.category_name}}</p>
                       <p>{{topik.category_desc}}</p>
                    </div>
                </div>               
            </div>
        </div>
    </div>
</template>

<script>
    import { VueEditor } from "vue2-editor";
    import { mapGetters } from 'vuex';

    export default {
        name: 'KategoriTopik',
        components: {
            VueEditor
        },  
        created() {
            this.$store.dispatch('getAllTopik')
        },
        computed: {
            ...mapGetters([
            'getTopik'
            ])
        },
    }
    
</script>

<style scoped>

.topik {
    background-color: #E5EFEF;
    font-size: 25px;
}

form {
    margin-top: 10px;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
</style>