<template>
  <div class="container">
     <hr>
        <div class="row" style="background-color:chartreuse">
          <div class="col-lg-12 text-left"> 
            <h3 class="section-heading text-uppercase">Topik Cakupan Anda</h3>
          </div>
        </div> 
      <hr>
        <div>
          <button class="btn btn-success" data-toggle="modal" data-target="#portfolioModal1">Tambah Topik</button>
        </div>      
      <hr>
        <div>
            <table class="table table-bordered"  >
              <thead>
                <tr>
                  <th>No</th>
                  <th>Nama Topik</th>
                  <th>Deskripsi</th>
                  <th>Dibuat Tanggal</th>
                  <th>Diupdate Tanggal</th>
                  <th>Aksi</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(topik, index) in getTopik" :key="topik.id">
                  <td>{{index+1}}</td>
                  <td>{{topik.category_name}}</td>
                  <td>{{topik.category_desc}}</td>
                  <td>{{topik.created_at}}</td>
                  <td>{{topik.updated_at}}</td>
                  <td>
                      <router-link to="/ViewTopik" class="btn btn-default">
                        <span class="glyphicon glyphicon-eye-open"></span>
                     </router-link>

                      <button class="btn btn-default" data-toggle="modal" :data-target="`#update${topik.id}`">
                        <span class="glyphicon glyphicon-pencil"></span>
                      </button>

                      <button class="btn btn-trash" data-toggle="modal" data-target="#delete">
                        <span class="glyphicon glyphicon-trash"></span>
                      </button>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>         
      <hr>
        <div class="row">
            <h2 style="text-align:center" >Pagination</h2><br>
            <button class="btn btn-danger">Hapus semua Topik</button>
        </div>

<div class="modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <!-- Modal content-->
      <div class="modal-content">
        <form @submit.prevent="submitForm">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title"><b>Tambah Topik</b></h4>
            </div>
            <div class="modal-body">
                <p> Nama Topik</p>
                  <input type="text"  class="form-control" placeholder="" aria-describedby="sizing-addon2" v-model="topik.category_name">
                <br/>
                <p> Deskripsi</p>
                <textarea class="form-control" v-model="topik.category_desc"></textarea>
                <br/>
                <center>
                  <button type="submit"  class="btn btn-success" aria-label="Left Align">
                    Simpan
                  </button>
                </center>         
            </div>
          </form>
      </div>
    </div>
</div>

<div class="modal fade" id="view" tabindex="-1" role="dialog" aria-labelledby="viewLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <!-- Modal view-->
      <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title"><b>View Topik</b></h4>
            </div>
            <div class="modal-body">
              <p> Nama Topik</p>
                  <input type="text"  class="form-control" placeholder="" aria-describedby="sizing-addon2">
                <br/>
              <p> Deskripsi</p>
                <textarea class="form-control"></textarea>
                <br/>
                <center>
                  <button type="submit"  class="btn btn-success" aria-label="Left Align">
                    Simpan
                  </button>
                </center>             
            </div>
      </div>
    </div>
</div>

<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <!-- Modal delete-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><b>Hapus Topik</b></h4>
        </div>
        <div class="modal-body">
          <p> Apakah anda yakin menghapus topik ini ?</p>           
            <center>
              <button type="submit"  class="btn btn-danger" aria-label="Left Align">
                Hapus
              </button>
            </center>         
        </div>
      </div>
    </div>
</div>

<div v-for="(topik) in getTopik" :key="topik.id">
<div class="modal fade" :id="`update${topik.id}`" tabindex="-1" role="dialog" aria-labelledby="updateLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <!-- Modal update-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><b>Update Topik</b></h4>
        </div>
        <div class="modal-body">
          <p> Nama Topik</p>
              <input type="text"  class="form-control" placeholder="" aria-describedby="sizing-addon2" v-model="topik.category_name">
            <br/>
          <p> Deskripsi</p>
            <textarea class="form-control" v-model="topik.category_desc"></textarea>
            <br/>
            <center>
              <button type="submit" @click="update(topik.id)" class="btn btn-success" aria-label="Left Align">
                Update
              </button>
            </center>         
        </div>
      </div>
    </div>
</div>
</div>

</div>
</template>

<script>
import {mapGetters} from 'vuex'
import axios from 'axios'

export default {
  name: 'TambahTopik',
    data() {
      return {
        topik: {            
          category_name: '',
          category_desc: ''
        }
      }
    },
    created(){
        this.$store.dispatch('getAllTopik')            
    },
    computed: {
        ...mapGetters([
            'getTopik'
        ])
    },
    methods: {
      submitForm() {
        this.$store.dispatch('addTopik', this.topik)
      },
      update(topik){        
        this.topik.id = topik;      
        this.$store.dispatch('updateTopik', this.topik)
      }
    }
  

    // methods: {
    //   checkFormValidity() {
    //     const valid = this.$refs.form.checkValidity()
    //     this.nameState = valid ? 'valid' : 'invalid'
    //     return valid
    //   },
    //   resetModal() {
    //     this.name = ''
    //     this.nameState = null
    //   },
    //   handleOk(bvModalEvt) {
    //     // Prevent modal from closing
    //     bvModalEvt.preventDefault()
    //     // Trigger submit handler
    //     this.handleSubmit()
    //   },
    //   handleSubmit() {
    //     // Exit when the form isn't valid
    //     if (!this.checkFormValidity()) {
    //       return
    //     }
    //     // Push the name to submitted names
    //     this.submittedNames.push(this.name)
    //     // Hide the modal manually
    //     this.$nextTick(() => {
    //       this.$refs.modal.hide()
    //     })
    //   }
    // }
}
</script>

<style scoped>
  @import "/assets/css/freelancer.css";
  @import "/assets/css/freelancer.min.css";
  @import "/assets/vendor/fontawesome-free/css/all.min.css";
  @import url("https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic");
  @import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
  @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");





  .col-md-4{
    margin-top: 10px;
  }

  .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}
.kursus {
  color: chartreuse;

}

.telusuri{
  
  margin-top: 650px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: rgb(233, 16, 16);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.txa{
  width: 650 px;
}


</style>