<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <style>
      body {
          padding-top: 50px;
          position: relative;
      }
      
      pre {
          tab-size: 8;
      }
      
      @media screen and (max-width: 768px) {
          .side-collapse-container{
              width:100%;
              position:relative;
              left:0;
              transition:left .4s;
          }
          .side-collapse-container.out{
              left:200px;
          }
          .side-collapse {
              top:50px;
              bottom:0;
              left:0;
              width:200px;
              position:fixed;
              overflow:hidden;
              transition:width .4s;
          }
          .side-collapse.in {
              width:0;
          }
      }
    </style>
    <title>frontend</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but frontend doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
  <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script>
      $(document).ready(function() {   
            var sideslider = $('[data-toggle=collapse-side]');
            var sel = sideslider.attr('data-target');
            var sel2 = sideslider.attr('data-target-2');
            sideslider.click(function(event){
                $(sel).toggleClass('in');
                $(sel2).toggleClass('out');
            });
        });
      // $(function() {
      //   // We can attach the `fileselect` event to all file inputs on the page
      //   $(document).on('change', ':file', function() {
      //     var input = $(this),
      //         numFiles = input.get(0).files ? input.get(0).files.length : 1,
      //         label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
      //     input.trigger('fileselect', [numFiles, label]);
      //   });
      //   // We can watch for our custom `fileselect` event like this
      //   $(document).ready( function() {
      //       $(':file').on('fileselect', function(event, numFiles, label) {
      //           var input = $(this).parents('.input-group').find(':text'),
      //               log = numFiles > 1 ? numFiles + ' files selected' : label;

      //           if( input.length ) {
      //               input.val(log);
      //           } else {
      //               if( log ) alert(log);
      //           }
      //       });
      //   });
      // });
    </script>
    <script src="https://kit.fontawesome.com/89524d8770.js" crossorigin="anonymous"></script>
</html>
