<template>
    <div class="backgroud">
        <div class="container">
            <div class="col-md-4 col">
                <b>TENTANG TCC <hr></b>
                <p>Tentang Kami</p>
                <p>Tim Kami</p>
            </div>
            <div class="col-md-4 col">
                <b>BELAJAR <hr></b>
                <p>Bagikan Cerita Anda</p>
            </div>
            <div class="col-md-4 col">
                <b>KONTAK <hr></b>
                <p class="fa fa-facebook-square"> Facebook</p><br>
                <p class="fa fa-linkedin-square"> Linkedin</p><br>
                <p class="fa fa-twitter-square"> Twitter</p><br>
                <p class="fa fa-instagram"> Instagram</p><br>
                <p class="fa fa-whatsapp"> Whatsapp</p>                
            </div>
        </div>
        <hr style="width:auto; margin-top:30px;">        
        <div class="left">
            <b><a href="/tcc" style="color:white">TCC</a></b>
            <i>2019 www.tccourse.com</i>
        </div>        
    </div>
</template>

<script>
export default {
    name: 'Footer'
}
</script>

<style scoped>
.backgroud{
    background-color: #164E82;
    color: white;    
    text-align: center;
    /* margin-top: 30px; */
}
.col{
    margin-top: 30px;
}
hr{
    width: 150px;
    margin-top: 5px;
}
.left{
    text-align: left;
    padding: 10px 50px;    
}
i{
    padding-left: 150px;
    font-size: 12px;
}
</style>