<template>
<div>
  <header role="banner" class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button data-toggle="collapse-side" data-target=".side-collapse" data-target-2=".side-collapse-container" type="button" class="navbar-toggle pull-left"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        <a class="navbar-brand" href="/tcc">TCC</a>
      </div>
      <div class="navbar-inverse side-collapse in">
        <nav role="navigation" class="navbar-collapse">
          <ul v-if="userRole === 'peserta'" class="nav navbar-nav navbar-left">
            <li>
              <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Cari Materi...">
                </div>
              </form>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Kategori Kursus <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
              </ul>
            </li>
            <li v-if="userRole == 'peserta'"><router-link to="/tcc">Kelas Saya</router-link></li>
            <li v-if="regInstrukturStatus == true"><a href="#" @click="changeRole">Instruktur</a></li>
          </ul>

          <ul v-else-if="userRole === 'Instruktur'" class="nav navbar-nav navbar-left">
            <li>
              <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Cari Materi...">
                </div>
              </form>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Kategori Topik <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
              </ul>
            </li>
            <li><router-link to="/tcc">Daftar Kelas</router-link></li>
            <li v-if="regInstrukturStatus == true" @click="changeRole"><a href="#" to="/tcc">Peserta</a></li>
          </ul>

          <ul v-else class="nav navbar-nav navbar-left">
              <li>
                <form class="navbar-form navbar-left" role="search">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Cari Materi...">
                  </div>
                </form>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Kategori Topik <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                </ul>
              </li>
          </ul>

          <ul v-if="userRole == 'peserta' || this.userRole == 'Instruktur'" class="nav navbar-nav navbar-right">
              <li><a href="#">Cart</a></li>
              <li><a href="#" v-on:click="logout()">Logout(Peserta)</a></li>
              <li><a href="#">Global</a></li>
          </ul>
          <ul v-else class="nav navbar-nav navbar-right">
              <li><a href="#" data-toggle="modal" data-target="#myModal">Login</a></li>
              <li><a href="#" data-toggle="modal" data-target="#regModals">Daftar</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <!-- Modal Login -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Login ke Akun Toba Camp Anda</h4>
        </div>
        <div class="modal-body">
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">
                <i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>
              </span>
              <input type="email" v-model="login.email" class="form-control" placeholder="Email" aria-describedby="sizing-addon2">
            </div>
            <br/>
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">
                <i class="glyphicon glyphicon-lock" aria-hidden="true"></i>
              </span>
              <input type="password" v-model="login.password" class="form-control" placeholder="Sandi" aria-describedby="sizing-addon2">
            </div>
            <br/>
            <button type="submit" v-on:click="loginMethod()" class="btn btn-success btn-block" aria-label="Left Align">
              Login
            </button>
            <div class="text-center">
              <p style="margin-top:24px">Atau <a href="#">Lupa Sandi</a></p>  
              <p>Tidak Punya Akun? <a href="#">Daftar</a></p>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div id="regModals" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Daftar</h4>
        </div>
        <div class="modal-body">
          <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">
                <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
              </span>
              <input type="email" class="form-control" placeholder="Nama lengkap" aria-describedby="sizing-addon2">
            </div>
            <br/>
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">
                <i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>
              </span>
              <input type="email" class="form-control" placeholder="Email" aria-describedby="sizing-addon2">
            </div>
            <br/>
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">
                <i class="glyphicon glyphicon-lock" aria-hidden="true"></i>
              </span>
              <input type="password" class="form-control" placeholder="Kata sandi" aria-describedby="sizing-addon2">
            </div><br/>
            <button type="submit" v-on:click="loginMethod()" class="btn btn-default form-control" aria-label="Left Align">
              Daftar
            </button>
          </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'Navbar',
  data(){
    return{
      user_data: null,
      login: {
        email: "",
        password: "",
        role: ""
      },
      regInstrukturStatus: null,
      userRole: null
    }
  }, 
  created() {
    // this.userRole = this.$parent.role
    // this.regInstrukturStatus = this.$parent.regInstrukturStatus
    // console.log(this.$parent.regInstrukturStatus)
    this.user_data = JSON.parse(localStorage.getItem("token"))
    if(this.user_data.role == 1) this.userRole = "Instruktur"
    else if(this.user_data.role == 2) this.userRole = "peserta"
  },
  methods: {
    logout(){
      localStorage.removeItem("authenticated");
      this.$router.replace({ name: "Beranda" });
      window.location.reload("true");
    },
    changeRole(){
      var getObj = JSON.parse(localStorage.getItem('authenticated'));
      if(getObj.role == 'peserta'){
        getObj.role = "Instruktur"
      }else if(getObj.role == 'Instruktur'){
        getObj.role = "peserta"
      }
      localStorage.setItem('authenticated', JSON.stringify(getObj))
      this.$parent.$parent.status = getObj.role 
      this.$router.replace({ name: "Beranda" });
      window.location.reload("true");
    },
    loginMethod() {
      // if(this.login.email != "" && this.login.password != "") {
      //   var mockAcc = JSON.parse(JSON.stringify(this.$parent.mockAccount))
      //     if(this.login.email == mockAcc.email && this.login.password == mockAcc.password) {
      //       this.$parent.authenticated = true;

      //       var user = {email: this.login.email, role: "peserta", authenticated: true};
              
      //       localStorage.setItem("authenticated", JSON.stringify(user));
      //       this.$router.replace({ name: "Beranda" })
      //       window.location.reload("true")
      //     }
      //     else {
      //         console.log("The username and / or password is incorrect");
      //     }
      // } else {
      //     console.log("A username and password must be present");
      // }

      axios.post("http://192.168.43.91:8762/tcc/api/auth/login", {
        "email": this.login.email,
        "password": this.login.password
      }).then(function (res){
        console.log(res);
        if(res.status == 200){
          localStorage.setItem("token", JSON.stringify(res.data.data))  
        }else{
          console.log("asdasd")
        }
      }).catch(function(e){
        console.log(e)
      })

      if(localStorage.getItem("token")){
        this.$router.replace({ name: "Beranda" });
        window.location.reload("true")
      }
    }
  }
}
</script>

<style scoped>
.navbar-inverse .navbar-toggle{
  margin-left: 20px;
  background-color: grey;
}

.navbar-inverse{
  background-color: #164E82;
  color: white;
  border-color: #164E82;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.modal-sm{
  width: 500px;
}

.input-group-addon:first-child {
    border-right: 0;
    background: white;
}
</style>