<template>
    <div class="side-collapse-container">
        <div class="topik">
            <div class="container">
                <p>(Nama Kelas) Web Design for Beginners: Real World Coding in HTML & CSS</p>
            </div>
        </div>        
      
        <div class="container">
            <div class="row">
                <div class="dropdown pull-right">
                    <button class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">Tahun
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">2015</a></li>
                        <li><a href="#">2016</a></li>
                        <li><a href="#">2017</a></li>
                    </ul>                    
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <ul class="nav nav-pills">
                        <li class="active"><a data-toggle="tab" href="#peserta">Peserta</a></li>
                        <li><a data-toggle="tab" href="#penghasilan">Penghasilan</a></li>
                    </ul>
                </div>
                
                <div class="pabnel-body">
                    <div class="tab-content">
                        <div id="penghasilan" class="tab-pane fade">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-5">
                                        <p style="margin-top:10px">Penghasilan merupakan pendapatan yang Anda peroleh dari Kelas ini, yang disajikan menjadi 12 periode/bulan.</p>
                                    </div>
                                    <div class="col-md-6">
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th>Periode</th>
                                                <th>Penghasilan</th>                                    
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr v-for="laporan in detailLaporan" :key="laporan.id">
                                                <td>{{laporan.periode}}</td>
                                                <td>{{laporan.penghasilan}}</td>                                    
                                            </tr>                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="peserta" class="tab-pane fade  in active">
                            <table class="table table-bordered">                                
                                <div class="col-md-6" >                                    
                                    <apexchart width="1100" height="400px" type="bar" :options="penggunaOptions" :series="penggunaSeries"></apexchart>
                                </div>       
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { VueEditor } from "vue2-editor"
import axios from 'axios'
export default {
  name: 'LaporanInstruktur',
  data() {            
    return {    
      penggunaOptions: {
        chart: {
          id: 'vuechart-example'
        },
        xaxis: {
          categories: []
        }
      },
      penggunaSeries: [{
        name: 'Sebanyak',
        data: []
      }]
    }
  },
  created(){      
      var laporan = this.$attrs.id
      this.$store.dispatch('getLaporan', laporan)
    //   console.log(this.penggunaSeries[0].data);
    //   console.log(this.penggunaOptions.xaxis.categories);
      axios
      .get('https://demo5177791.mockable.io/tobacourse/laporan/' + laporan)
      .then((res) => {
        var data = JSON.parse(JSON.stringify(res.data.data))
        var arr = []
        var xaxis = []
        for(var i=0; i< data.length; i++){
            arr.push(data[i].jumlah_perserta)
            xaxis.push(data[i].periode)
            this.penggunaSeries[0].data.push(data[i].jumlah_perserta)
            this.penggunaOptions.xaxis.categories.push(data[i].periode)
        }            
        // this.penggunaSeries[0].data.map(() => {
        //     return arr;
        // })
        this.penggunaSeries = [{
            data: arr,
            xaxis : xaxis
        }]                
      }).catch((e) => {
        console.log(e)
      });
  },
  computed: {
      ...mapGetters([
          'detailLaporan',
          'getKelas'
      ])
  }
}
</script>

<style scoped>
.topik {
    background-color: #E5EFEF;
    font-size: 25px;
}

.size {
    font-size: 20px;
}

.panel   {
    margin-top: 30px;
}

.btn{
    margin-right: 20px;
}

.table {
    margin-top: 10px;           
    /* margin-left: -30px; */
}

.dropdown {
    margin-top: 10px;
}
</style>
