<template>
    <div class="side-collapse-container">
        <div class="topik">
            <div class="container">
                <p> Ujian yang diikuti </p>
            </div>
        </div>
        <div class="container">            
            <div class="row">                
                <div class="col-md-12" v-for="n in 3" :key="n">
                    <div class="panel panel-default">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="@/assets/detail.jpeg" alt="" class="img-responsive">
                            </div>
                            <div class="col-md-9">
                                <p>Judul Ujian</p>
                                <p>Nama Modul</p>
                                <p>Tanggal diikuti</p>
                                <div class="pull-right">
                                <button class="btn btn-success">Lihat Ujian</button>
                            </div>
                            </div>                            
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</template>


<style scoped>

.topik {
    background-color: #E5EFEF;
    font-size: 25px;
}

.panel {
  border: 10px; 
  padding:30px; 
  margin-bottom: 10px; 
  border: 1px solid lightgray; 
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19); 
  border-radius: 10px;  
  height: auto;
  margin-top: 20px;
}

</style>