<template>
    <div>
        <div>
            <div class="jumbotron">
                <div class="container">
                    <div class="col-md-12">
                        <p class="color">{{detailKelas.course_name}}</p>
                    </div>
                    <!-- <p class="color">Real World Coding in HTML & CSS</p> -->
                    <div class="col-md-12">
                        <div class="col-md-6 size">                            
                            Dibuat Oleh : <b>{{detailKelas.dibuat_oleh}}</b>
                        </div>
                        <div class="col-md-6 size">
                            Terakhir Diperbaharui : <b>{{detailKelas.tgl_dibuat}}</b>
                        </div>                    
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="col-md-8">                   
                    <div class="row">
                        <div class="container">
                            <div class="col-md-8">
                                <div class="ground">
                                    <div class="container">
                                        <div v-for="modul in getModul" :key="modul.id">
                                        <p><b>{{modul.modul_name}}</b></p>
                                        <p><b>Yang akan Anda pelajari</b></p>
                                        <p class='fa fa-check'/> Pembelajaran 1 <br>
                                        <p class='fa fa-check'/> Pembelajaran 2 <br>
                                        <p class='fa fa-check'/> Dst <br>
                                        <button class="btn btn-primary">Buat Ujian</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 container">       
                                <div class="shadow">
                                    <img src="@/assets/detail.jpeg" alt="" class="img-responsive">                    
                                    <div class="row">
                                        <div  class="col-md-12">
                                            <button type="button" class="btn btn-success btn-block button">
                                                Tambah Materi
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">   
                                        <div  class="col-md-12">                                            
                                            <p class="button text-center" v-if="detailKelas.price != 0"><b>Rp. {{detailKelas.price}}</b></p>
                                            <p class="button text-center" v-else>Gratis</p>
                                        </div>
                                    </div>  
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p class="button">Harga</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <b class="button">Kursus ini Mencakup</b>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p class="button">(0) yang di upload</p>
                                            <p class="button">(0) yang di upload</p>
                                        </div>
                                    </div>
                                </div>             
                            </div>  
                        </div>
                    </div>
                </div>
                          
            </div>     
            <div class="container size">
                <p><b>Deskripsi</b></p>
                <p>{{detailKelas.course_desc}}</p>                            
                <p class="peserta">Jumlah Peserta</p><hr>
                <p class="fa fa-users users"></p>
                <b style="margin-left:20px;"> 123 Peserta</b>
                <router-link :to="`/LaporanInstruktur/${detailKelas.id}`" tag="button" class="btn btn-success btn-xs" style="margin-left:110px">Detail</router-link>
            </div>            
        </div>
    </div>
</template>

<script>
import 'hooper/dist/hooper.css';
import { mapGetters } from 'vuex';

export default {
    name: 'DetailKelas',    
    created(){
        this.$store.dispatch('getDetailKelas', this.$attrs.id)
        this.$store.dispatch('getAllModul', this.$attrs.id)
        // console.log(this.$attrs.id);        
    },  
    computed: {
        ...mapGetters([
            'detailKelas',
            'getModul'
        ]),        
    },
}
</script>

<style scoped> 

.size{
    margin-top: 30px;
    font-size: 15px;
    padding-bottom: 90px;
}

.shadow {
  position: relative;
  -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  box-shadow: 9px 9px 9px rgba(0, 0, 0, .5);
  padding: 20px;
  background: white;
  border-radius: 20px;
}

.button {
    margin-top: 20px;  
    font-size: 13px; 
}

.peserta {
    margin-top: 40px;
    font-size: 13px;
    margin-bottom: -20px;
}

.ground {
    position: relative;    
    -webkit-box-shadow: -2px 2px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 0px 5px 9px 9px rgba(0, 0, 0, .5);
    padding: 20px;
    background: white;
    border-radius: 10px;
    margin-top: 20px;
}

.lainnya {
    position: relative;    
    -webkit-box-shadow: -2px 2px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 0px 5px 9px 9px rgba(0, 0, 0, .5);
    padding: 30px;
    background: white;
    border-radius: 10px;    
}

.kelas {
    border: 5px solid red;
  padding:  0em 1em;
  border-radius: 16px;
  font-size: 24px;
  line-height: 2;
}

.color {
    color: black;
}

.users {
    font-size: 30px;
    color: green;    
}

</style>