<template>
    <div class="side-collapse-container">
        <div class="topik">
            <div class="container">
                <p> Detail Pengajuan Kelas</p>
            </div>
        </div>
        <div class="container">            
            <p class="size">Pengajuan Kelas</p>
            <hr style="margin-top:0px;">
            <img src="@/assets/detail.jpeg" alt="" class="img-responsive" style="padding:20spx">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>Instruktur</td>
                        <td>Andre Sihombing</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>andresihom@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Nama Kelas</td>
                        <td>andresihom@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Tanggal Pembuatan Kelas</td>
                        <td>andresihom@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Topik</td>
                        <td>andresihom@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Tipe Kelas</td>
                        <td>andresihom@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Harga</td>
                        <td>andresihom@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Deskripsi</td>
                        <td>andresihom@gmail.com</td>
                    </tr>
                </thead>                
            </table>
            <button class="btn btn-primary" data-toggle="modal" data-target="#terima">Terima</button>
            <button class="btn btn-danger" data-toggle="modal" data-target="#tolak">Tolak</button>
        </div>

        <div class="modal fade" id="terima" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <!-- Modal terima-->
                <div class="modal-content">      
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>                        
                    </div>                         
                    <div class="modal-body">
                    <p class="text-center"> Apakah anda yakin melakukan konfirmasi pengajuan kelas ?</p>           
                        <center>
                        <button type="submit"  class="btn btn-primary" aria-label="Left Align">
                            Konfirmasi
                        </button>
                        <button type="submit"  class="btn btn-default" aria-label="Left Align">
                            Batal
                        </button>
                        </center>         
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="tolak" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <!-- Modal tolak-->
                <div class="modal-content"> 
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>          
                        <h4 class="modal-title">Alasan Penolakan</h4>                     
                    </div>               
                    <div class="modal-body">
                    <div class="form-group">                        
                        <vue-editor v-model="content"></vue-editor>           
                    </div>    
                    <center><button class="btn btn-primary">Submit</button></center>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import { VueEditor } from "vue2-editor";
 
export default {
  components: {
    VueEditor
  },
   
};
</script>

<style scoped>
.topik {
    background-color: #E5EFEF;
    font-size: 25px;
}

.size {
    font-size: 20px;
}

.table {
    margin-top: 20px;   
}

.btn {
    margin-right: 20px;
    border-radius: 5px;
}
</style>