<template>
    <div>
        <div class="topik">
            <div class="container">
                Tambah Kelas Anda
            </div>            
        </div>
        <div class="container">
            <p> Buat kelas belajar anda dan tentukan topik yang berhubungan untuk kategori dari kelas anda.</p>
            <div class="margin-top">
                <form @submit.prevent="submitForm">
                    <div class="form-group">
                        <label for="name">Nama Kelas:</label>
                        <input type="text" class="form-control" v-model="kelas.name">
                    </div>
                    <div class="form-group">
                        <label for="topik">Topik</label>
                        <select class="form-control">
                            <option></option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="name">Deskripsi:</label>
                        <vue-editor v-model="kelas.deskripsi"></vue-editor>           
                    </div>
                    
                    <div class="form-check">
                        <label for="name">Tipe Kelas:</label><br>                    
                        <input class="form-check-input" type="radio" name="tipe" value="private" v-model="kelas.tipe">
                        <label class="form-check-input">
                            Private
                        </label>                                        
                        <input class="form-check-input" type="radio" name="tipe" value="public" v-model="kelas.tipe">
                        <label class="form-check-input">
                            Public 
                        </label>                    
                    </div>
                    <div class="form-group">
                        <label for="name">Harga:</label>
                        <input type="text" class="form-control" placeholder="Rp." v-model="kelas.harga">
                        <i>Jika kelas ini gratis, isi dengan 0</i>
                    </div>

                    <div class="form-group">
                        <label for="name">Gambar Kelas:</label>                                   
                        <div class="container">         
                            <div class="col-md-3">
                                <img class="img img-responsive file-img" id="kelasImage" src="@/assets/img/portfolio/cake.png" alt="">
                                <div class="text-space">
                                    <input type="file" @change="inputImage" ref="kelasFiles" name="kelasName" id="kelas" accept="image/*,application/pdf" class="upload" />
                                    <label for="kelas" class="add10 btn btn-info btn-xs">
                                        <i class="fas fa-file-upload"></i> Upload File
                                    </label>
                                    <p id="kelasImageName" name="fileName" hidden></p>
                                </div>
                            </div>
                            <div class="col-md-7">                        
                                Buat kursus yang unggul dengan gambar yang bagus , dan gambar ini otomatis, apabila anda tidak memiliki resources.<br><br>
                                Jika Anda membuat gambar sendiri, gambar itu harus memenuhi standar kualitas gambar kursus agar dapat diterima.<br><br>

                                Pedoman penting: 750x422 piksel; .jpg, .jpeg,. gif, atau .png. tanpa teks pada gambar.                       
                            </div>                              
                        </div>
                    </div>                                                     
                    
                    <div class="pull-left">
                        <button class="btn btn-primary">Tambah Kelas</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn">Batal</button>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-success" type="submit">Lanjut Tambah Materi</button>
                    </div>
                </form>
            </div>                          
        </div>  
    </div>    
</template>

<script>
import { VueEditor } from "vue2-editor";
import {mapGetters} from 'vuex'
    import axios from 'axios'
 
export default {
  components: {
    VueEditor
  },
    data(){
        return{
            kelas: {
                name: '',
                deskripsi: '',
                harga: '',
                tipe: ''
            }
        }        
    },   
    computed: {
        ...mapGetters([
            'getKelas'
        ])
    },
    methods: {
        submitForm () {        
            this.$store.dispatch('addKelas', this.kelas)
        },

        inputImage(event){ 
            var eventId = event.currentTarget.id;
            var fileName = eventId+'ImageName';
            var image = eventId + 'Image';
            document.getElementById(fileName).innerHTML = event.target.files[0].name;
            if (event.target.files && event.target.files[0]) {
                var reader = new FileReader();
                if(event.target.files[0].type == "application/pdf"){
                    reader.onload = function (e) {
                        $('#'+image).attr('src', 'https://image.flaticon.com/icons/png/512/179/179483.png');
                    }
                }else{
                    reader.onload = function (e) {
                        $('#'+image).attr('src', e.target.result);    
                    }
                }
                reader.readAsDataURL(event.target.files[0]);
            }
        },
    }
};
</script>

<style scoped>
.topik {  
  background-color: #E5EFEF;
  font-size: 20px;
  height: 40px;  
}

label {
    margin-right: 20px;    
}

.margin-top {
    margin-top: 20px;
}

p {
    margin-top: 10px;
}
</style>