<template>
    <div class="side-collapse-container">
        <div class="topik">
            <div class="container">
                <p class='fas fa-laptop-code' style="font-size:30px; color:red;"/>
                Topik Pemograman
            </div>
        </div>
        <div class="container">
            <div class="judul">                                
                <b>Semua Kelas Pemograman</b>                                
                <div class="dropdown">
                    <div class="pull-right">
                        <button class="btn btn-primary btn-sm dropdown-toggle" data-toggle="modal" data-target="#kelas"> Tambah Kelas</button>
                        <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">Default Setting
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS</a></li>
                            <li><a href="#">JavaScript</a></li>
                        </ul>                    
                    </div>
                </div>
            </div>            
            
            
            <div class="container shadow" v-for="kelas in getKelas" :key="kelas.id">
                <div class="dropdown">                    
                    <div class="container">
                        <div class="pull-right">
                            <button class="btn btn-default btn-flat btn-set dropdown-toggle" type="button" data-toggle="dropdown">
                            <span class="fa fa-gear fa-lg"></span></button>
                            <ul class="dropdown-menu">                    
                                <li><a href="#" class="glyphicon glyphicon-pencil"> Perubahan Kelas</a></li>
                                <li><a href="#" class="glyphicon glyphicon-trash"> Hapus Kelas</a></li>                                
                            </ul>
                        </div>   
                    </div>                 
                </div>
                <div class="container">                    
                    <div class="col-md-3">
                        <!-- <img :src="`${kelas.picture}`" alt="" class="img-responsive" style="padding:20spx"> -->
                        <img class="img img-responsive" src="@/assets/img/portfolio/cake.png" alt="">
                    </div>
                    <div class="col-md-7">
                        <div class="">
                            <div class="col-md-12">
                                <b><router-link :to="`/DetailkelasInstruktur/${kelas.id}`">{{kelas.course_name}}</router-link></b>                                
                            </div>
                            <div class="col-md-3">
                                Tanggal Dibuat :  {{kelas.tgl_dibuat}}
                            </div>
                            <div class="col-md-3">
                                Dibuat Oleh : {{kelas.dibuat_oleh}}
                            </div>
                            <div class="col-md-12">
                                Deskripsi : {{kelas.course_desc}}
                            </div>                                                        
                        </div>
                    </div>
                    <div class="col-md-2">
                        <b v-if="kelas.price != 0">Rp. {{kelas.price}}</b>
                        <b v-else>GRATIS</b>
                    </div>                
                </div>
            </div>            
        </div>

        <!-- modal -->
        <div class="modal fade" id="kelas" role="dialog">
            <div class="modal-dialog">
            
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Tambah Kelas</h4>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="submitForm">
                            <div class="form-group">
                                <label for="name">Nama Kelas:</label>
                                <input type="text" class="form-control" v-model="kelas.course_name">
                            </div>                                          
                            <div class="form-group">
                                <label for="name">Deskripsi:</label>
                                <vue-editor v-model="kelas.course_desc"></vue-editor>
                            </div>
                            <div class="form-check">
                                <label for="name">Tipe Kelas:</label><br>                    
                                <input class="form-check-input" type="radio" name="tipe" value="option1">
                                <label class="form-check-input">
                                    Private
                                </label>                                        
                                <input class="form-check-input" type="radio" name="tipe" value="option1">
                                <label class="form-check-input">
                                    Public 
                                </label>                    
                            </div>     
                            <br>
                            <div class="form-group">
                                <label for="name">Harga:</label>
                                <input type="text" class="form-control" placeholder="Rp." v-model="kelas.price">
                                <i>Jika kelas ini gratis, isi dengan 0</i>
                            </div>
                            <div class="form-group hidden">                                
                                <input type="text" class="form-control" placeholder="Rp." v-model="kelas.category_id">
                                <i>Jika kelas ini gratis, isi dengan 0</i>
                            </div>
                            <!-- <div class="form-group">
                                <label for="file">File</label>
                                <div class="input-group">
                                    <input type="file" id="exampleFile1" name="exampleFile1" style="display: none">
                                    <input type="text" class="form-control" id="exampleFakeFile1" readonly>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" id="exampleFakeBrowseFile1">Unggah File</button>
                                    </span>
                                </div>
                                <i>Pedoman penting: 750x422 piksel; .jpg, .jpeg,. gif, atau .png. tanpa teks pada gambar.</i>
                            </div>        -->
                            <div class="col-md-3">
                                <h4>Foto KK</h4>
                                <div class="box">
                                    <img class="img img-responsive file-img" id="kkImage" src="@/assets/img/portfolio/cake.png" alt="">
                                    <div class="text-space">
                                        <input type="file" @change="inputImage" ref="kkFiles" name="kkName" id="kk" accept="image/*,application/pdf" class="upload" />
                                        <label for="kk" class="add10 btn btn-primary">
                                            <i class="fas fa-file-upload"></i> Upload File
                                        </label>
                                        <p id="kkImageName" name="fileName" hidden></p>
                                    </div>
                                </div>
                            </div>
                                    
                            <center>
                                <button class="btn btn-primary" type="submit">Tambah Kelas</button>
                            </center> 
                        </form>                                                
                    </div>
                </div>            
            </div>
        </div>

    </div>
</template>

<script>
    import { VueEditor } from "vue2-editor";
    import {mapGetters} from 'vuex'

    import axios from 'axios'
    export default {
        name: 'TambahTopik',
        components: {
            VueEditor
        },
        data(){
            return{
                kelas: {
                    course_name: '',
                    course_desc: '',
                    price: '',
                    category_id: this.$attrs.id,
                    picture: ''
                }
            }
        },
        created(){
            this.$store.dispatch('getAllKelas', this.$attrs.id)
            // console.log(this.$attrs.id)          
        },
        computed: {
            ...mapGetters([
                'getKelas'
            ])
        },
        methods: {
            submitForm () {        
                this.$store.dispatch('addKelas', this.kelas)
            },

            inputImage(event){ 
                var eventId = event.currentTarget.id;
                var fileName = eventId+'ImageName';
                var image = eventId + 'Image';                           
                document.getElementById(fileName).innerHTML = event.target.files[0].name;
                if (event.target.files && event.target.files[0]) {
                    var reader = new FileReader();
                    if(event.target.files[0].type == "application/pdf"){
                        reader.onload = function (e) {
                            $('#'+image).attr('src', 'https://image.flaticon.com/icons/png/512/179/179483.png');
                        }
                    }else{
                        reader.onload = function (e) {
                            $('#'+image).attr('src', e.target.result);    
                        }
                    }
                    reader.readAsDataURL(event.target.files[0])
                    this.kelas.picture = event.target.files[0];
                }
            },
        }
    }
</script>

<style scoped>
 
.fas {
    font-size: 20px;    
}

.topik {
    background-color: #E5EFEF;
    font-size: 30px;
}

.shadow {
  position: relative;
  -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  box-shadow: 9px 9px 9px 9px rgba(0, 0, 0, .5);
  padding: 10px;
  background: white;
  border-radius: 20px;
  margin-top: 50px;  
  margin-bottom: 50px;
}

.judul {
    margin-top: 10px;
    font-size: 20px;
}

</style>