<template>
  <div>
    <div>
      <div class="container">
        <div class="jumbotron" id="websiteDesc" style="margin-top:24px">
            <h1>Belajar sesuai jadwal dan pilihan Anda</h1>
            <p>Pelajari topik apa saja, kapan saja.<br> Pilih dari ribuan kursus yang dipandu pakar (instruktur) sekarang</p>
            <!-- <a href="#" class="btn btn-primary btn-lg" style="margin-right:10px">Premium</a>
            <a href="#" class="btn btn-success btn-lg">Gratis</a> -->
            <router-link to="#" class="btn btn-success">Bergabung Dengan Gratis</router-link>
        </div>

        <div class="text-center">
          <h2 style="margin-bottom: 24px"><b>Mengapa Toba Camp Course dapat membantu?</b></h2>
          <div class="col-md-4">
            <div class="panel panel-default" style="border: 10px; padding:30px; margin-bottom: 20px; border: 1px solid lightgray; box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19); border-radius: 10px;">
              <!-- <i class="fas fa-mask fa-10x" data-fa-transform="shrink-3 up-1" data-fa-mask="fas fa-circle"></i> -->
              <h4 >Pembelajaran pribadi</h4>
              <p class="text-muted">Pelajar berlatih dengan temponya sendiri. Mereka mulai dengan memahami hal-hal
              yang belum mereka mengerti, lalu mempercepat pembelajaran.</p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="panel panel-default" style="border: 10px; padding:30px 30px 30px 40px; margin-bottom: 20px; border: 1px solid lightgray; box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19); border-radius: 10px;">
              <!-- <i class="fas fa-mask fa-10x img-circle" data-fa-transform="shrink-3 up-1" data-fa-mask="fas fa-circle"></i> -->
              <h4 >Konten terpercaya</h4>
              <p class="text-muted">Disusun oleh para pakar, latihan dan praktik yang terpercaya di Toba Camp Course
              meliputi Programming, IoT, Robotik, dan lainnya.</p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="panel panel-default" style="border: 10px; padding:30px 30px 30px 40px; margin-bottom: 20px; border: 1px solid lightgray; box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19); border-radius: 10px;">
              <!-- <i class="fas fa-mask fa-10x img-circle" data-fa-transform="shrink-3 up-1" data-fa-mask="fas fa-circle"></i> -->
              <h4 >Lebih dari 10000 kursus online</h4>
              <p class="text-muted">Jelajahi berbagai topik baru. Berbagai kursus yang tersedia, sesuai kebutuhan. Menyediakan latihan soal untuk meningkatkan pemahaman topik.</p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="testi">
        <div class="row">
          <div class="col-lg-12 text-center"><br>
            <h2><b>Pendapat Mereka Tentang Toba Camp Course</b></h2><br>
            <div class="testimoni">      
              <hooper :itemsToShow="3">
                <slide>
                    <div class="testimoni-form">
                      <div class="topikhr">
                        <img class="rounded-circle" src="@/assets/logo.png" alt="Pribadi" height="30px"><h5><b>Nama</b></h5>
                        <p class="text-muted">Toba camp course sangat baik dan bagus untuk semua kalangan yang hendak belajr, khususnya kebudayaan batak</p>
                      </div>
                    </div>          
                </slide>
                <slide>             
                    <div class="testimoni-form">
                      <div class="topikhr">
                        <img class="rounded-circle" src="@/assets/logo.png" alt="Pribadi" height="30px"><h5><b>Nama</b></h5>
                        <p class="text-muted">Toba camp course sangat baik dan bagus untuk semua kalangan yang hendak belajr, khususnya kebudayaan batak</p>
                      </div>
                    </div>             
                </slide>
                <slide>            
                    <div class="testimoni-form">
                      <div class="topikhr">
                        <img class="rounded-circle" src="@/assets/logo.png" alt="Pribadi" height="30px"><h5><b>Nama</b></h5>
                        <p class="text-muted">Toba camp course sangat baik dan bagus untuk semua kalangan yang hendak belajr, khususnya kebudayaan batak</p>
                      </div>
                    </div>          
                </slide>
                <slide>             
                    <div class="testimoni-form">
                      <div class="topikhr">
                        <img class="rounded-circle" src="@/assets/logo.png" alt="Pribadi" height="30px"><h5><b>Nama</b></h5>
                        <p class="text-muted">Toba camp course sangat baik dan bagus untuk semua kalangan yang hendak belajr, khususnya kebudayaan batak</p>
                      </div>
                    </div>             
                </slide>
                <slide>            
                    <div class="testimoni-form">
                      <div class="topikhr">
                        <img class="rounded-circle" src="@/assets/logo.png" alt="Pribadi" height="30px"><h5><b>Nama</b></h5>
                        <p class="text-muted">Toba camp course sangat baik dan bagus untuk semua kalangan yang hendak belajr, khususnya kebudayaan batak</p>
                      </div>
                    </div>          
                </slide>
                <hooper-navigation slot="hooper-addons" mode="fraction" ></hooper-navigation>
              </hooper><br><br><br>
              <div class="container">
                <div class="row text-center">
                  <div class="row">
                    <h2><b>Jadi mengapa harus menunggu?<br>Mulai bergabung di Toba Camp Course sekarang.</b></h2><br>
                    <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Mulai belajar sekarang!</a><br><br><br>
                  </div>
                </div>
              </div>      
            </div>
          </div>
        </div> 
      </div>    
    </div>
  </div>
</template>

<script>

import {
  Hooper,
  Slide,
  Navigation as HooperNavigation
  } from 'hooper';
  import 'hooper/dist/hooper.css';

export default {
  name: 'BerandaUtama',
  components: {
    Hooper,
    Slide,
    HooperNavigation
  }
}
</script>

<style>

.jumbotron#websiteDesc{
  background: linear-gradient(to right, rgba(0,0,0,0.5), rgba(238,238,238,0.5)), url('https://www.learnenglish-online.com/wp-content/uploads/2018/03/learnEnglish-online-7.png') center center;
  background-size: cover;
}
.jumbotron h1 { color: white;}
.jumbotron p { color: white;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  /*[class*="col-"] {
    width: 100%;
  }*/
  .jumbotron{
    margin: -10px 10px 0px 10px;
  }
}
</style>
<style scoped>
.jumbotron h1 { color: white;}
.jumbotron p { color: white;}
.top-drop{margin-top: 30px}
.side-collapse-container {
  background-image: url("https://politicalscience.uwo.ca/img/2018newimages/UG-Course-Info-Lower-Level-Page-Banner-2018.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

h1 {  
  color: black;   
  text-align: left;
}

.jumbotron p {
  text-align: left;
  margin-top: 0px;
  font-size: 15px;
  letter-spacing: 0ch;
}

.mengapa {  
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.testi {  
  background-color: #E5EFEF;
  height: auto; 
  width: auto; 
}

.row {
  margin-left: 50px;
  margin-right: 50px;
}

.testimoni {
  margin-left: 10px;
  margin-right: -10px;
  height: auto;
}

.testimoni-form {
  height: auto;
  border: 2px solid #eee;
  padding: 20px;
  background-color: white;
  margin-left: 30px;
  margin-right: 30px;
  box-shadow: 0px 1px 3px #ccc;
}

/* @import "/assets/css/agency.css"; */
/* @import "/assets/css/agency.min.css"; */
</style>