<template>
  <div>
    <div>  
      <div class="side-collapse-container">
        <div class="container">
          <div class="pull-left">
            <h1><b>Langsung ke Pembuatan Kelas</b></h1>
            <p>Untuk mengupload konten-konten menyusun kurikulum,<br>
            dan juga topik yang berarti. </p>            
            <router-link to="/KelasBaru" tag="button" class="btn btn-success">Buat Kelas Baru</router-link>   
          </div>
        </div>  
      </div> 
    </div>
    <div class="topik">      
      <div class="container">
        <div class="pull-left">
          <b>Topik Cakupan Anda</b>
        </div>        
      </div>
    </div>    
    <div v-if="getTopik != null">
      <div class="container">           
          <hooper :itemsToShow="3">
            <slide v-for="category in getTopik" :key="category.id">
                <div class="testimoni-form">
                  <div class="text-center">
                    <div class="panel panel-default">                  
                    <router-link :to="`/Listkelas/${category.id}`"><i class='fas fa-laptop-code'></i></router-link>
                    </div>
                  </div>
                </div>
            </slide>                  
            <hooper-navigation slot="hooper-addons" mode="fraction" ></hooper-navigation>
          </hooper>         
      </div>
    </div>
    <div v-else>
      <div class="background" style="padding:30px">
        <b>Anda Belum Memiliki Topik</b>
      </div>
    </div>
    
    <div class="background"></div>  
    
    <div class="program">
      <center>Jumlah Pengguna Kelas</center>
    </div>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <ul class="nav nav-pills">
                    <li class="active"><a data-toggle="tab" href="#peserta">Peserta</a></li>
                    <li><a data-toggle="tab" href="#penghasilan">Penghasilan</a></li>
                </ul>
            </div>
            
            <div class="pabnel-body">
                <div class="tab-content">
                    <div id="penghasilan" class="tab-pane fade">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <p style="margin-top:10px">Penghasilan merupakan pendapatan yang Anda peroleh dari Kelas ini, yang disajikan menjadi 12 periode/bulan.</p>
                                </div>
                                <div class="col-md-6">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>Periode</th>
                                            <th>Penghasilan</th>                                    
                                        </tr>
                                        </thead>
                                        <tbody v-for="laporan in dataLaporanTahun" :key="laporan.id">
                                        <tr>
                                            <td>{{laporan.tahun}}</td>
                                            <td>{{laporan.penghasilan}}</td>                                    
                                        </tr>                                
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="peserta" class="tab-pane fade  in active">
                        <table class="table table-bordered">                                
                            <div class="col-md-6">                                    
                                <apexchart width="950" height="400px" type="line" :options="penggunaOptions" :series="penggunaSeries"></apexchart>
                            </div>       
                        </table>
                    </div>
                </div>
            </div>
        </div>            

    </div>     
  </div>
</template>

<script>

import {
  Hooper,
  Slide,
  Navigation as HooperNavigation
  } from 'hooper';
  import 'hooper/dist/hooper.css';
import { mapGetters } from 'vuex';

export default {
  name: 'BerandaInstruktur',
  components: {
    Hooper,
    Slide,
    HooperNavigation
  },
  data() {
    return {
      penggunaOptions: {
        chart: {
          id: 'vuechart-example'
        },
        xaxis: {
          categories: ['2018', '2019', '2020']
        }
      },
      penggunaSeries: [{
        name: 'Sebanyak',
        data: [ 245, 100, 400]
      }]
    }
  }, 
  created(){
    this.$store.dispatch('getAllTopik')
    this.$store.dispatch('getLaporanTahun')
    // alert(getTopik.length)
  },
  computed: {
    ...mapGetters([
        'getTopik',
        'dataLaporanTahun'
    ])
  },
}
</script>

<style scoped>
.side-collapse-container {
  background-image: url("https://politicalscience.uwo.ca/img/2018newimages/UG-Course-Info-Lower-Level-Page-Banner-2018.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
        

}

.topik {  
  background-color: #164E82;
  font-size: 20px;
  height: 40px;  
  color: white;
  padding: 10px 20px;
}

.background{
  background-color: #E5EFEF;  
  text-align: center;  
  padding: 20px;
}

h1 {  
  margin-top: 250px;
  color: black;   
  text-align: left;
  
   
}

.program {
  font-size: 30px;
  margin-top: 20px;  
}

p {
  text-align: left;
  margin-top: 20px;
}

.row {
  margin-top: 50px;
}

.fa-laptop-code {
  font-size: 7.0vw;
}

.fa-plus {
  font-size: 7.0vw;
}


.panel {
  border: 10px; 
  padding:30px; 
  margin-bottom: 20px; 
  border: 1px solid lightgray; 
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19); 
  border-radius: 10px;
  margin-left: 40px;
  margin-right: 40px; 
  height: auto;
  margin-top: 30px;
}
</style>