<template>
  <div>
    <div class="container">
      <section class="page-section" style="margin-top:24px" id="services">
        <div class="row">
          <div class="jumbotron" id="websiteDesc">
              <h1>Buat pengaruh global di Kawasan Toba</h1>
              <p>Bergabung sebagai instruktur untuk mengupload konten-konten menyusun kurikulum, dan juga topik yang berarti</p>
              <router-link to="/tcc/register" class="btn btn-success btn-md" style="margin-right:10px">Daftar Sebagai Instruktur</router-link>
          </div>
        </div>
      </section>
    </div>
    <div class="back-color" >
      <div class="container">
        <h3 class="white">Kelas Terpopuler</h3>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <!-- <div class="col-md-3 top-drop" v-for="kelasData in data" :key="kelasData.id"> -->
        <div class="col-md-3 top-drop" style="margin-top:24px" v-for="n in 4" :key="n">
          <div class="panel panel-default box">
            <img class="img img-responsive" src="@/assets/img/portfolio/cake.png" alt="">
            <div class="text-space">
              <!-- <h4 >{{ kelasData.course_name }}</h4> --><h4>Kelas {{n}}</h4>
              <!-- <p>Rp.{{ kelasData.price }}</p> --><p>Rp. 200.000</p>
              <button class="btn btn-default btn-block"><i class="fas fa-cart-plus"></i> Tambah Ke Keranjang</button>
              <button class="btn btn-success btn-block">Beli Sekarang</button>
            </div>
          </div>
        </div>
      </div>

      <h3 class="top-drop">Terbaru</h3>
      <div class="row">
        <div class="col-md-3 top-drop" v-for="n in 4" :key="n">
          <div class="panel panel-default box">
            <img class="img img-responsive" src="@/assets/img/portfolio/cake.png" alt="">
            <div class="text-space">
              <h4>Nama Kelas</h4>
              <p>Rp.200.000</p>
              <button class="btn btn-default btn-block"><i class="fas fa-cart-plus"></i> Tambah Ke Keranjang</button>
              <button class="btn btn-success btn-block">Beli Sekarang</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="jumbotron">
      <div class="container text-center">
        <h2>Kursus dan Ujian yang pernah<br>anda ikuti</h2>
        <button class="btn btn-primary">Telusuri</button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'BerandaPeserta',
  data(){
    return{
      data: []
    }
  },
  created(){
    axios
      .get("https://demo5177791.mockable.io/tobacourse/kelas")
      .then((res) => {
        var kelasData = JSON.parse(JSON.stringify(res.data.data))
        this.data = kelasData
      }).catch((e) => {
        console.log(e)
      })
  }
}
</script>

<style scoped>
.back-color{ background-color: #164E82; }
h3.white{color:white}
</style>

<style>
.box{
  margin-bottom: 20px; 
  border: 0px solid lightgray; 
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19); 
  border-radius: 0px 0px 10px 10px;
}
.text-space{ padding: 0px 10px 10px 10px} 
</style>