<template>
  <div>
    <div v-if="this.checkUser == 'pengunjung'">
        <BerandaUtama/>
    </div>
    <div v-if="this.checkUser == '2'">
        <BerandaPeserta/>
    </div>
    <div v-if="this.checkUser == '1'">
        <BerandaInstruktur/>
    </div>
  </div>
</template>

<script>
import BerandaAdmin from './BerandaAdmin.vue'
import BerandaPeserta from './BerandaPeserta.vue'
import BerandaInstruktur from './BerandaInstruktur.vue'
import BerandaUtama from './BerandaUtama.vue'

export default {
  name: 'Beranda',
  components: {
      BerandaAdmin, 
      BerandaPeserta, 
      BerandaInstruktur, 
      BerandaUtama
  },
  data(){
      return{
        checkUser: null,
      }
  },
  created(){
        
      if(localStorage.getItem("token")){
          var getObj = JSON.parse(localStorage.getItem('token'));
          this.checkUser = getObj.role;
          console.log(this.checkUser)
      } else if(localStorage.getItem("token") == null){
          this.checkUser = "pengunjung"
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
  body{
    font-family: 'Nunito', sans-serif;
    background-color: #f9fafa;
  }
  .shadow{
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19); 
  }
  .jumbotron .btn{
    padding: 10px 20px 10px 20px;
  }
  .btn{
    /* padding: 10px 20px 10px 20px; */
    font-weight: bold;
    font-size:16px;
    font-family: 'Nunito', sans-serif;
    border-color: transparent;
  }
  .add10{
    margin-top: 10px;
  }
</style>
