<template>
  <div class="container">
    <h3 style="text-align:center">Jumlah Pengguna Toba Camp Course</h3>
    <div class="row">
      <div class="col-md-6">
        <apexchart width="500" type="line" :options="penggunaOptions" :series="penggunaSeries"></apexchart>
      </div>
      <div class="col-md-6">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
    </div>

    <div class="row" style="margin-top:10px">
    <h3 style="text-align:center">Jumlah Pengguna Toba Camp Course</h3>
      <div class="col-md-6">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
      <div class="col-md-6">
        <apexchart width="500" type="bar" :options="penggunaOptions" :series="penggunaSeries"></apexchart>
      </div>
    </div>
    <div style="center-block">
      <h1>Alert Message</h1>
      <button class="btn btn-success" @click="successAlert">Success</button>
      <button class="btn btn-danger" style="margin-left: 5px" @click="failAlert">Fail</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'BerandaAdmin',
  data() {
    return {
      penggunaOptions: {
        chart: {
          id: 'vuechart-example'
        },
        xaxis: {
          categories: [2015, 2016, 2017, 2018, 2019]
        }
      },
      penggunaSeries: [{
        name: 'series-1',
        data: [ 50, 60, 150, 400, 909]
      }]
    }
  },
  methods: {
    successAlert() {
      this.$notify({
        group: 'foo',
        title: 'Success message',
        text: 'Hello user! This is a Success alert!',
        type: 'success',
      });
    },  

    failAlert(){
      this.$notify({
        group: 'foo',
        title: 'Fail message',
        text: 'Hello user! This is a fail alert!',
        type: 'error',
      });
    }
  }
}
</script>

<style scope>
  p{
    line-height: 1.6;
  }
  .vue-notification {
  padding: 15px;
  margin: 1px 5px 5px;
 
  font-size: 15px;
 
  color: #ffffff;
  background: #44A4FC;
  border-left: 5px solid #187FE7;
}
</style>