<template>
  <div class="container">
    <hr>
        <div class="row" style="background-color:powderblue">
          <div class="col-lg-12 text-left"> 
            <h3 class="section-heading text-uppercase"><b>Detail Pengajuan</b></h3>
          </div>
        </div> 

    <hr>
            <p><b>Peserta</b></p>   
    <hr>
        <div>
            <table class="table table-bordered"  >
              
              <tbody>
                <tr>
                  <td>Nama</td>
                  <td>Tanti yeyen Sinaga</td>              
                </tr>
                <tr>
                  <td>Email</td>
                  <td>Tantiyeyen@gmail.com</td>              
                </tr>
                <tr>
                  <td>Tanggal Bergabung</td>
                  <td>19/07/2019</td>              
                </tr>
                <tr>
                  <td>Tanggal Pengajuan Instruktur</td>
                  <td>25/08/2019</td>              
                </tr>
                <tr>
                  <td>Pekerjaan</td>
                  <td>Dosen</td>              
                </tr>
              </tbody>
            </table>
        </div>
        
            <p><b>File yang dilengkapi</b></p>
    <hr>
      <div>
            <table class="table table-bordered"  >
              
              <tbody>
                <tr>
                  <td>KTP (Kartu Tanda Penduduk)</td>
                  <td>
                      <span class="glyphicon glyphicon-picture"></span>
                      KTP_tanti.png
                  </td>              
                </tr>
                <tr>
                  <td>KK (Kartu Keluarga)</td>
                  <td>
                      <span class="glyphicon glyphicon-file"></span>
                      KK_tanti.pdf
                  </td>              
                </tr>
                <tr>
                  <td>Ijazah Pendidikan Terakhir</td>
                  <td>
                      <span class="glyphicon glyphicon-file"></span>
                      IjazahAkhir_tanti.pdf
                  </td>              
                </tr>
                <tr>
                  <td>Sertifikat Keahlian</td>
                  <td>
                      <span class="glyphicon glyphicon-file"></span>
                      Keahlian_tanti.pdf
                  </td>              
                </tr>
              </tbody>
            </table>
        </div>

 
        <router-link to="/DaftarPengajuan" class="btn btn-primary" >
        
            <button hidden class="btn btn-primary"  @click="successAlert">
            </button>Terima      
        </router-link>
        
        <router-link to="/DaftarPengajuan" class="btn btn-danger" style="margin-left: 25px">
            <button hidden class="btn btn-danger"  @click="failAlert">
            </button>Tolak
        </router-link>


</div>

</template>

<script>
import VueApexCharts from 'vue-apexcharts'

export default {
      el : '#chart',
      components: {
        apexchart: VueApexCharts,
      },
      data() {
        return {
        series: [44, 55],
        chartOptions: {
          labels: ['Team A', 'Team B'],
          responsive: [{
            breakpoint: 480,
            options: {
              chart: {
                width: 200
              },
              legend: {
                position: 'bottom'
              }
            }
          }]
        }
        }
      },
      methods: {
            successAlert() {
            this.$notify({
                group: 'foo',
                title: 'Diterima!',
                text: 'Pengajuan berhasil dikonfirmasi',
                type: 'primary',
            });
            },  

            failAlert(){
            this.$notify({
                group: 'foo',
                title: 'Ditolak!',
                text: 'Pengajuan berhasil ditolak dengan alasan',
                type: 'error',
            });
            }
        }

    }
  
</script>

<style scoped>
  @import "/assets/css/freelancer.css";
  @import "/assets/css/freelancer.min.css";
  @import "/assets/vendor/fontawesome-free/css/all.min.css";
  @import url("https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic");
  @import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
  @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");






  .col-md-4{
    margin-top: 10px;
  }

  .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}
.kursus {
  color: chartreuse;

}

.telusuri{
  
  margin-top: 650px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: rgb(233, 16, 16);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.txa{
  width: 650 px;
}


</style>