<template>
  <div class="container">
     <hr>
        <div class="row" style="background-color:powderblue">
          <div class="col-lg-12 text-left"> 
            <h3 class="section-heading text-uppercase">Semua Akun terdaftar pada Toba Camp Course </h3>
          </div>
        </div> 
      <hr>
            <div class="jumbotron">
            <div class="container text-center">

                    <div id="chart" class="col-md-9">
                        <apexchart type=donut width='50%' :options="chartOptions" :series="series" />
                    </div>

                <div class="col-md-3">
                    
                        <router-link to="/DaftarPengajuan" class="btn btn-default">
                        <button class="btn btn-success">
                           <span class="glyphicon glyphicon-list-alt"></span>
                           Daftar Pengajuan Instruktur
                        </button>
                        </router-link>
                    
                </div> 
            </div>
            
            </div> 
      <hr>
                <div class="search-wrapper">
                    <input type="text" v-model="search" placeholder="Cari Akun.."/>
                        

                                   
                </div>    

      <hr>
        <div>
            <table class="table table-bordered"  >
              <thead>
                <tr>
                  <th>No</th>
                  <th>Nama</th>
                  <th>Email</th>
                  <th>Mulai Bergabung</th>
                  <th>Terdaftar Sebagai</th>
                  <th>Aksi</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="n in 5" v-bind:key="n">
                  <td></td>
                  <td>Hokkop</td>
                  <td>hokkop@gmail.com</td>
                  <td>19/09/2019</td>
                  <td>Peserta</td>
                  <td>
                      <router-link to="/ViewTopik" class="btn btn-default">
                        <span class="glyphicon glyphicon-eye-open"></span>
                     </router-link>

                      <button class="btn btn-default" data-toggle="modal" data-target="#update">
                        <span class="glyphicon glyphicon-pencil"></span>
                      </button>

                      <button class="btn btn-trash" data-toggle="modal" data-target="#delete">
                        <span class="glyphicon glyphicon-trash"></span>
                      </button>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
        
      <hr>
      
     <hr>

</div>

</template>

<script>
import VueApexCharts from 'vue-apexcharts'

export default {
      el : '#chart',
      components: {
        apexchart: VueApexCharts,
      },
      data() {
        return {
        series: [44, 55],
        chartOptions: {
          labels: ['Peserta', 'Instruktur'],
          responsive: [{
            breakpoint: 480,
            options: {
              chart: {
                width: 200
              },
              legend: {
                position: 'bottom'
              }
            }
          }]
        }
        }
      },

    }
  
</script>

<style scoped>
  @import "/assets/css/freelancer.css";
  @import "/assets/css/freelancer.min.css";
  @import "/assets/vendor/fontawesome-free/css/all.min.css";
  @import url("https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic");
  @import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
  @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");






  .col-md-4{
    margin-top: 10px;
  }

  .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}
.kursus {
  color: chartreuse;

}

.telusuri{
  
  margin-top: 650px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: rgb(233, 16, 16);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.txa{
  width: 650 px;
}


</style>