<template>
  <div class="container">
    <hr>
        <div class="row" style="background-color:powderblue">
          <div class="col-lg-12 text-left"> 
            <h3 class="section-heading text-uppercase"><b>Profile Anda</b></h3>
          </div>
        </div> 

    <hr>
            <div>
                    <center>
                        <img src="@/assets/img/portfolio/cake.png" alt="Avatar" class="avatar">
                    </center>

                    <center>
                    <span class="glyphicon glyphicon-picture"></span>
                    <a href="#foo"> Ubah foto</a>
                    </center>
            </div>
    <hr>
        <div>
            <table class="table table-bordered"  >
              
              <tbody>
                <tr>
                  <td>Nama</td>
                  <td>Tanti yeyen Sinaga
                    <router-link to="/EditProfile" class="btn btn-default pull-right">
                        <span class="glyphicon glyphicon-pencil"></span>
                     </router-link>
                  </td>              
                </tr>
                <tr>
                  <td>Email</td>
                  <td>Tantiyeyen@gmail.com</td>              
                </tr>
                <tr>
                  <td>Tanggal Lahir</td>
                  <td>-</td>              
                </tr>
                <tr>
                  <td>Nomor Handphone</td>
                  <td>-</td>              
                </tr>
                <tr>
                  <td>Jenis Kelamin</td>
                  <td>-</td>              
                </tr>
                <tr>
                  <td>Pekerjaan</td>
                  <td>-</td>              
                </tr>
              </tbody>
            </table>
        </div>
        
            <p><b>Pengaturan Lainnya</b></p>
    <hr>
        <div>
            <span class="glyphicon glyphicon-user"></span>
            <a href="#foo"> Ubah Kata sandi</a>
        </div>

</div>

</template>

<script>
import VueApexCharts from 'vue-apexcharts'

export default {
      el : '#chart',
      components: {
        apexchart: VueApexCharts,
      },
      data() {
        return {
        series: [44, 55],
        chartOptions: {
          labels: ['Team A', 'Team B'],
          responsive: [{
            breakpoint: 480,
            options: {
              chart: {
                width: 200
              },
              legend: {
                position: 'bottom'
              }
            }
          }]
        }
        }
      },
      methods: {
            successAlert() {
            this.$notify({
                group: 'foo',
                title: 'Diterima!',
                text: 'Pengajuan berhasil dikonfirmasi',
                type: 'primary',
            });
            },  

            failAlert(){
            this.$notify({
                group: 'foo',
                title: 'Ditolak!',
                text: 'Pengajuan berhasil ditolak dengan alasan',
                type: 'error',
            });
            }
        }

    }
  
</script>

<style scoped>
  @import "/assets/css/freelancer.css";
  @import "/assets/css/freelancer.min.css";
  @import "/assets/vendor/fontawesome-free/css/all.min.css";
  @import url("https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic");
  @import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
  @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");






  .col-md-4{
    margin-top: 10px;
  }

  .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}
.kursus {
  color: chartreuse;

}

.telusuri{
  
  margin-top: 650px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: rgb(233, 16, 16);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.txa{
  width: 650 px;
}

.avatar {
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}


</style>