<template>
  <div class="container">
     <hr>
        <div class="row" style="background-color:chartreuse">
          <div class="col-lg-12 text-left"> 
            <h3 class="section-heading text-uppercase">Topik IOT</h3>
          </div>
        </div> 
      <hr>
       <p>Dibuat pada 16/07/2019</p>     
      <hr>
       <div>
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet odio vel purus bibendum luctus. 
                Morbi iaculis dapibus tristique. In hac habitasse platea dictumst. Mauris convallis quam at. Morbi iaculis dapibus tristique.</p>
  
        </div>
      </div>        
      <hr>

      <h3 class="section-heading text-uppercase">Sumber Daya</h3>
        
      <hr>
      <div class="container">
      <div class="col-md-6">
        <div class="panel panel-default" style="margin-bottom: 20px; border: 0px solid lightgray; box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19); border-radius: 0px 0px 10px 10px;">
          <img class="img img-responsive" src="@/assets/img/portfolio/cake.png" alt="">
        
        </div>
      </div>

        <div class="col-md-6">
        <div class="panel panel-default" style="margin-bottom: 20px; border: 0px solid lightgray; box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19); border-radius: 0px 0px 10px 10px;">
          <img class="img img-responsive" src="@/assets/img/portfolio/cake.png" alt="">
        
        </div>
      </div>

    </div>
     <hr>

     
    <div>
     <h3 class="section-heading text-uppercase"><b>Partisipan</b></h3>
    </div>

    <hr>

    <div class="jumbotron">
      <div class="container text-center">
             <div id="chart">
                <apexchart type=donut width='50%' :options="chartOptions" :series="series" />
            </div>

      </div>
    </div>

</div>

</template>

<script>
import VueApexCharts from 'vue-apexcharts'

export default {
      el : '#chart',
      components: {
        apexchart: VueApexCharts,
      },
      data() {
        return {
        series: [44, 55],
        chartOptions: {
          labels: ['Team A', 'Team B'],
          responsive: [{
            breakpoint: 480,
            options: {
              chart: {
                width: 200
              },
              legend: {
                position: 'bottom'
              }
            }
          }]
        }
        }
      },

    }
  
</script>

<style scoped>
  @import "/assets/css/freelancer.css";
  @import "/assets/css/freelancer.min.css";
  @import "/assets/vendor/fontawesome-free/css/all.min.css";
  @import url("https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic");
  @import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
  @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");






  .col-md-4{
    margin-top: 10px;
  }

  .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}
.kursus {
  color: chartreuse;

}

.telusuri{
  
  margin-top: 650px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: rgb(233, 16, 16);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.txa{
  width: 650 px;
}


</style>