<template>
  <div id="app" class="container">
    <form>
      <h1>{{this.$attrs.courseName}}</h1>
      <!-- <input class="form-control" v-model="$attrs.courseName"> -->
      <div class="work-experiences">
        <button @click="addPelajaran" type="button" class="btn btn-primary" style="margin-bottom:20px">Tambah Pelajaran</button>
        <div class="form-row" v-for="(materi, index) in pelajaran" :key="index">
          <div class="form-group row">
            <div class="col-md-10">
                <label>Pelajaran {{index+1}}</label>
                <div class="input-group">
                  <input v-model="materi.pelajaran_name"  type="text" class="form-control" placeholder="Nama Pelajaran">
                  <span class="input-group-btn">
                    <button @click="deletePelajaran(index)" class="btn btn-danger" type="button">Del()</button>
                  </span>
                </div>
            </div>
            <div class="col-md-2">
                <label style="color:white">a</label>
                <div class="dropdown">
                    <button class="btn btn-block btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Tambah Files
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <input type="file" @change="addFile(index, $event)" ref="vid" name="ktpName" :id="`vid[${index}]`" accept="video/*" class="upload"/>
                        <li><a><label :for="`vid[${index}]`">Tambah Video</label></a></li>
                        <input type="file" @change="addFile(index, $event)" ref="doc" name="ktpName" :id="`doc[${index}]`" accept=".jpg, .pptx, .pdf" class="upload"/>
                        <li><a><label :for="`doc[${index}]`">Tambah Dokumen</label></a></li>
                    </ul>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10">
              <div class="row col-md-10">
                  <div class="list-group">
                    <div v-for="(file, id) in pelajaran[index].pelajaran_file" :key="id">
                      <div v-if="id!=0">  
                        <a class="list-group-item clearfix">
                          {{file.pelajaran_file[0].file_name}}
                          <span class="pull-right">
                              <span class="btn btn-xs btn-danger" @click="deleteFile(index, id)">
                                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                              </span>
                          </span>
                        </a>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>

export default {
  name: "CreateMateri",
  data: () => ({
    pelajaran: [
        {
            pelajaran_name: "Pemrograman 1",
            pelajaran_file: [
              {
                file_name: 'asdasd',
                file_type: 'ad',
                url: 'asd'
              },
            ]
        },
    ]
  }),
  created(){
  },
  methods: {
    addPelajaran () {
      this.pelajaran.push({
        pelajaran_name: "",
        pelajaran_file: [
          {
            file_name: '',
            file_type: '',
            url: ''
          }
        ]
      })
    },

    addFile(index, event){
      this.pelajaran[index].pelajaran_file.push({
        pelajaran_file:[
          {
            file_name: event.target.files[0].name,
            file_type: event.target.files[0].type,
            url: ''
          }
        ]
      })
    },

    deleteFile(index, id){
      this.pelajaran[index].pelajaran_file.splice(id,1)
      console.log(this.events);
    },

    deletePelajaran(index){
      this.pelajaran.splice(index,1)
      console.log(this.pelajaran);
    },

    submit () {
      const data = {
        workExperiences: this.workExperiences
      }
      alert(JSON.stringify(data, null, 2))
    }
  }
};
</script>

<style>
.upload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
}
</style>
