<template>
    <div class="side-collapse-container">
        <div class="topik">
            <div class="container">
                <p> Semua Daftar Pengajuan Kelas</p>
            </div>
        </div>
        <div class="container">            
            <form class="navbar-form" role="search">
                <div class="input-group add-on">
                <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
                <div class="input-group-btn pull-left">
                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
                </div>
            </form>
            <div>
                <table class="table table-bordered">
                <thead>
                    <tr>
                    <th>No</th>
                    <th>Instruktur</th>
                    <th>Nama Kelas</th>
                    <th>Tipe Kelas</th>
                    <th>Tanggal Pembuatan Kelas</th>                    
                    <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="n in 5" v-bind:key="n">
                    <td></td>
                    <td>IOT</td>
                    <td></td>                    
                    <td></td>      
                    <td></td>
                    <td>                        
                        <router-link to="/DetailPengajuanMateri " tag="button" class="btn btn-primary">
                            <span class="glyphicon glyphicon-eye-open"> Detail Materi</span>
                        </router-link>
                    </td>
                    </tr>
                </tbody>
                </table>
            </div>       
        </div>
    </div>
</template>

<style scoped>
.topik {
    background-color: #E5EFEF;
    font-size: 25px;
}
</style>