<template>
    <div class="side-collapse-container">
        <div class="topik">
            <div class="container">
                <p> Detail Pengajuan Materi</p>
            </div>
        </div>
        <div class="container">            
            <p class="size">Pengajuan Materi</p>
            <hr style="margin-top:0px;">
            <div class="col-md-4">
                <img src="@/assets/detail.jpeg" alt="" class="img-responsive" style="padding:20spx">
            </div>
            <div class="col-md-8">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td>Instruktur</td>
                            <td>Andre Sihombing</td>
                        </tr>
                        <tr>
                            <td>Nama Kelas</td>
                            <td>andresihom@gmail.com</td>
                        </tr>
                        <tr>
                            <td>Tanggal Pembuatan Materi</td>
                            <td>Tanggal Pembuatan Materi@gmail.com</td>
                        </tr>
                        <tr>
                            <td>Tipe Kelas</td>
                            <td>Tanggal Pembuatan Materi@gmail.com</td>
                        </tr>
                    </thead>                
                </table>
            </div>
        </div>

        <div class="modal fade" id="terima" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <!-- Modal terima-->
                <div class="modal-content">      
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>                        
                    </div>                         
                    <div class="modal-body">
                    <p class="text-center"> Apakah anda yakin melakukan konfirmasi pengajuan kelas ?</p>           
                        <center>
                        <button type="submit"  class="btn btn-primary" aria-label="Left Align">
                            Konfirmasi
                        </button>
                        <button type="submit"  class="btn btn-default" aria-label="Left Align">
                            Batal
                        </button>
                        </center>         
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="tolak" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <!-- Modal tolak-->
                <div class="modal-content"> 
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>                        
                    </div>               
                    <div class="modal-body">
                    <div class="form-group">                        
                        <vue-editor v-model="content"></vue-editor>           
                    </div>    
                    <center><button class="btn btn-primary">Submit</button></center>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <ul class="nav nav-pills">
                        <li class="active"><a data-toggle="tab" href="#modul1">Modul 1</a></li>
                        <li><a data-toggle="tab" href="#modul2">Modul 2</a></li>
                    </ul>
                </div>
                
                <div class="pabnel-body">
                    <div class="tab-content">
                        <div id="modul1" class="tab-pane fade in active">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <td>Nama Modul</td>
                                        <td>Tutorial HTML dan CSS</td>
                                    </tr>
                                    <tr>
                                        <td>Materi</td>
                                        <td>andresihom@gmail.com</td>
                                    </tr>
                                    <tr>
                                        <td>Tanggal Pembuatan Materi</td>
                                        <td>Tanggal Pembuatan Materi@gmail.com</td>
                                    </tr>
                                    <tr>
                                        <td>konten</td>
                                        <td>Tanggal Pembuatan Materi@gmail.com</td>
                                    </tr>
                                    <tr>
                                        <td>Sumber Daya Lainnya </td>
                                        <td>Tanggal Pembuatan Materi@gmail.com</td>
                                    </tr>
                                </thead>                
                            </table>
                        </div>
                        <div id="modul2" class="tab-pane fade">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <td>Nama Modul</td>
                                        <td>Tutorial Bootstrap</td>
                                    </tr>
                                    <tr>
                                        <td>Materi</td>
                                        <td>andresihom@gmail.com</td>
                                    </tr>
                                    <tr>
                                        <td>Tanggal Pembuatan Materi</td>
                                        <td>Tanggal Pembuatan Materi@gmail.com</td>
                                    </tr>
                                    <tr>
                                        <td>konten</td>
                                        <td>Tanggal Pembuatan Materi@gmail.com</td>
                                    </tr>
                                    <tr>
                                        <td>Sumber Daya Lainnya </td>
                                        <td>Tanggal Pembuatan Materi@gmail.com</td>
                                    </tr>
                                </thead>         
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <button class="btn btn-primary" data-toggle="modal" data-target="#terimamateri">Terima</button>
            <button class="btn btn-danger" data-toggle="modal" data-target="#tolakmateri">Tolak</button>

            <div class="modal fade" id="terimamateri" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <!-- Modal terima-->
                    <div class="modal-content">      
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>                        
                        </div>                         
                        <div class="modal-body">
                        <p class="text-center"> Apakah anda yakin melakukan konfirmasi pengajuan Materi ?</p>           
                            <center>
                            <button type="submit"  class="btn btn-primary" aria-label="Left Align">
                                Konfirmasi
                            </button>
                            <button type="submit"  class="btn btn-default" aria-label="Left Align">
                                Batal
                            </button>
                            </center>         
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="tolakmateri" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <!-- Modal tolak-->
                    <div class="modal-content"> 
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>    
                            <h4 class="modal-title">Alasan Penolakan</h4>                    
                        </div>               
                        <div class="modal-body">
                        <div class="form-group">                        
                            <vue-editor v-model="content"></vue-editor>           
                        </div>    
                        <center><button class="btn btn-primary">Submit</button></center>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
import { VueEditor } from "vue2-editor";
 
export default {
  components: {
    VueEditor
  },
   
};
</script>

<style scoped>
.topik {
    background-color: #E5EFEF;
    font-size: 25px;
}

.size {
    font-size: 20px;
}

.panel   {
    margin-top: 30px;
}

.btn{
    margin-right: 20px;
}
</style>