<template>
  <div id="app" class="container">
    <h1>Manage Course</h1>
    <div class="row">
        <div class="col-md-10">
            <input v-model="module_name_input" type="text" class="form-control" placeholder="Nama Module"/>
        </div>
        <div class="col-md-2"><button @click="addModule()" class="btn btn-primary btn-block">Tambah Module</button></div>
    </div>
    <h3>List Module:</h3>
    <div class="row"  v-for="(module, index) in modules" :key="index" style="margin-top: 20px">
        <div class="col-md-10" :key="index">
            <div class="panel panel-default" style="margin-top=10px">
                <div class="panel-body">
                    <h4> 
                        <router-link :to="{name: 'CreateMateri', params:{courseName : module.module_name}}">{{module.module_name}}</router-link>
                    </h4>
                    <a :href="`#module${index}`" data-toggle="collapse"> lihat detail</a>
                    <div :id="`module${index}`" class="collapse">
                        Detail Here
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
          <button @click="deleteModule(index)" class="btn btn-danger btn-block ">Delete</button>
        </div>
    </div>
  </div>
</template>

<script>

export default {
  name: "MateriView",
  data: () => ({
    modules: [
      {
        module_name: "Dasar C untuk programmer pemula",
      },
      {
        module_name: "C Lanjutan",
      }
    ], 
    module_name_input: '',
  }),
  created(){
    console.log(this.modules)
  },
  methods: {
    addModule () {
      this.modules.push({
        module_name: this.module_name_input,
      })
    },

    deleteModule(index){
      console.log(index)
      this.modules.splice(index,1);
    },

    submit () {
      const data = {
        workExperiences: this.workExperiences
      }
      alert(JSON.stringify(data, null, 2))
    }
  }
};
</script>

<style>
.upload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
}
</style>
