<template>
  <div>
    <div class="subjudul">
      <br><h4>Buat Materi pada Kelas belajar Anda dan beri penjelasan terbaik dan detail untuk kualitas kelas pembelajaran anda, membuat banyak manfaat bagi peserta ajar.</h4>
        <br><div id="materi">
          <div class="materi-form">
            <h3>&emsp;Tambah Materi di Kelas Pembelajaran (Kurikulum)</h3>
            <div class="topikhr"></div>
              <div class="materi-field">
                <form @submit.prevent="onSubmit">
                  <div class="input">
                    <label for="nama">Nama Kelas</label>
                    <input
                      class="form-control" 
                      type="text"
                      id="nama"
                      v-model="nama" 
                      :disabled="validated ? disabled : ''"
                      placeholder="Disabled dan telah terisi nama kelasnya">
                  </div>
                  <div class="input">
                    <label>Subtitle Kelas (Terkait Materi)</label>
                    <input 
                      class="form-control"
                      type="text"
                      id="subtitle"
                      v-model.number="subtitle">
                  </div>
                  <div class="input">
                    <label for="upload">Upload Materi</label>
                    <div class="materi-form">
                      <div class="materi-field">
                        <p><b>Modul 1 : 
                          <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <div class="input-group">
                              <input type="email" v-model="data.mod" class="form-control" aria-describedby="sizing-addon2">
                                <span class="input-group-addon" id="sizing-addon2">
                                  <a href="#" class="glyphicon glyphicon-pencil" aria-hidden="true"></a>
                                </span>
                                <span class="input-group-addon" id="sizing-addon2">
                                  <a href="#" class="glyphicon glyphicon-trash" aria-hidden="true"></a>
                                </span>
                              </input>
                            </div>
                          </div>
                        </b></p>
                        <div class="tambahPelajaran">
                          <div class="pelajaran-list">
                            <div
                              class="input" 
                              v-for="(pelajaranInput, index) in pelajaranInputs"
                              :key="pelajaranInput.id">
                              <div class="materi-form">
                                <div class="input-group">
                                  <span class="input-group-addon" id="sizing-addon2">
                                    <label :for="pelajaranInput.id" class="glyphicon glyphicon-ok">Pelajaran {{ index+1 }}</label>
                                  </span>
                                    <input class="pelajaran"
                                      type="text"  
                                      :id="pelajaranInput.id"
                                      v-model="pelajaranInput.value" >
                                    <span class="input-group-addon" id="sizing-addon2">
                                      <a href="#" class="glyphicon glyphicon-pencil" aria-hidden="true"></a>
                                    </span>
                                    <span class="input-group-addon" id="sizing-addon2">
                                      <a @click="onDeletePelajaran(pelajaranInput.id)" type="button" class="glyphicon glyphicon-trash"></a>
                                    </span>
                                    <div class="nav-tabs-custom">
                                      <ul class="nav nav-tabs nav-justified">
                                        <li><a data-toggle="tab" href="#konten">Konten</a></li>
                                        <li><a class="dropdown-toggle" data-toggle="tab" href="#dropdown"><span class="caret"></span></a></li>
                                      </ul>
                                    </div>
                                    </span>
                                  </input>
                                </div>
                                <div class="tab-content">
                                  <div id="konten" class="tab-pane fade">
                                    <ul class="nav nav-tabs nav-justified">
                                      <li><a class="fas fa-play-circle" data-toggle="tab" href="#first-tab" alt="Video"><h4><b>Tambahkan Video</b></h4></a></li>
                                      <li><a class="fas fa-list" data-toggle="tab" href="#second-tab" alt="Kombinasi Video dan Slide"><h4><b>Tambahkan Kombinasi Video dan Slide</b></h4></a></li>
                                      <li><a class="fas fa-file" data-toggle="tab" href="#third-tab" alt="Artikel"><h4><b>Artikel</b></h4></a></li>
                                    </ul>
                                  </div>
                                  <div id="dropdown" class="tab-pane fade">
                                    <div class="form-group"><br>
                                      <div class="materi-field">
                                        <label for="file">File yang Dapat Diunduh</label>
                                        <input
                                          class="form-control"
                                          type="file"
                                          id="file" 
                                          ref="file" 
                                          v-on:change="handleFileUpload()"/>
                                          <p><b>Catatan</b> : Sumber daya adalah semua jenis dokumen yang dapat digunakan untuk 
                                          membantu peserta dalam pelajaran. File in akan terlihat sebagai pelajaran ekstra. Pastikan semuanya
                                          mudah dibaca dan ukuran filenya kurang dari 1 GB.</p>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <div class="tab-content">
                                  <div id="first-tab" class="tab-pane fade">
                                    <div class="form-group"><br>
                                      <div class="materi-field">
                                        <label for="file">Upload Video</label>
                                        <input
                                          class="form-control"
                                          type="file"
                                          id="file" 
                                          ref="file" 
                                          v-on:change="handleFileUpload()"/>
                                          <p><b>Catatan</b> : Semua file harus beresolusi minimum 720px dan kurang dari 4 GB.</p>
                                      </div>
                                    </div>
                                  </div>
                                  <div id="second-tab" class="tab-pane fade">
                                    <div class="form-group"><br>
                                      <div class="materi-field">
                                        <label for="file">1. Upload Video</label>
                                        <div class="topikhr"></div><br>
                                        <input
                                          class="form-control"
                                          type="file"
                                          id="file" 
                                          ref="file" 
                                          v-on:change="handleFileUpload()"/>
                                          <p><b>Catatan</b> : Semua file harus beresolusi minimum 720px dan kurang dari 4 GB.</p><br>

                                          <label for="file">2. Pilih Presentasi</label>
                                          <div class="topikhr"></div><br>
                                          <input
                                            class="form-control"
                                            type="file"
                                            id="file" 
                                            ref="file" 
                                            v-on:change="handleFileUpload()"/>
                                            <p><b>Catatan</b> : Presentasi berarti slide (mis. PowerPoint, Keynote). 
                                            Slide merupakan cara yang sangat baijk untuk menggabungkan teks dan visual 
                                            untuk menjelaskan konsep secara efektif dan efisien. Gunakan grafis yang 
                                            bermakna dan teks yang jelas dan mudah dibaca.</p><br>

                                            <label for="file">3. Sinkronkan Video dan Presentasi</label>
                                            <div class="topikhr"></div><br>
                                            <input
                                              class="form-control"
                                              type="file"
                                              id="text" 
                                              ref="text"
                                              placeholder="Pilih video dan presentasi terlebih dahulu."
                                              v-on:change="handleFileUpload()"/>
                                      </div>
                                    </div>
                                  </div>
                                  <div id="third-tab" class="tab-pane fade">
                                    <div class="form-group" margin-left="20px"><br><br>
                                      <label for="name">Artikel</label>
                                      <vue-editor></vue-editor>
                                    </div>
                                  </div>
                                </div>

                              </div>
                            </div>
                          </div>
                          <button @click="onAddPelajaran" class="btn btn-xl text-uppercase js-scroll-trigger">Pelajaran</button>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="module">
                      <button @click="onAddModul" class="btn btn-xl text-uppercase js-scroll-trigger">Tambah Modul</button>
                      <div class="modul-list">
                        <div
                          class="input"
                          v-for="(modulInput, index) in modulInputs"
                          :key="modulInput.id">
                          <label :for="modulInput.id">Modul #{{ index }}</label>
                          <input
                            type="text"
                            :id="modulInput.id"
                            v-model="modulInput.value">
                          <button @click="onDeleteModul(modulInput.id)" type="button">X</button>
                        </div>
                      </div>
                    </div>
                  </div>    
                </form>
              </div>
            </div><br>
            <div class="button">
              <div class="left">
                <a class="btn btn-success btn-xl text-uppercase js-scroll-trigger" href="#">Submit Draft</a>
              </div>
              <div class="right">
                <a class="btn btn-success btn-xl text-uppercase js-scroll-trigger" href="#">Submit Fix</a><br><br><br>    
              </div>
            </div>
          </div>
    </div>
  </div>
</template>

<script>
import { VueEditor } from "vue2-editor";

export default {
  name: 'Materi',
  components: {
            VueEditor
        },
  data () {
      return {
        email: '',
        data: "",
        age: null,
        password: '',
        confirmPassword: '',
        country: 'usa',
        modulInputs: [],
        pelajaranInputs: [],
        terms: false
      }
    },
    methods: {
      onAddModul () {
        const newModul = {
          id: Math.random() * Math.random() * 1000,
          value: ''
        }
        this.modulInputs.push(newModul)
      },
      onDeleteModul (id) {
        this.modulInputs = this.modulInputs.filter(modul => modul.id !== id)
      },
      onAddPelajaran () {
        const newPelajaran = {
          id: Math.random() * Math.random() * 1000,
          value: ''
        }
        this.pelajaranInputs.push(newPelajaran)
      },
      onDeletePelajaran (id) {
        this.pelajaranInputs = this.pelajaranInputs.filter(pelajaran => pelajaran.id !== id)
      },
      onSubmit () {
        const formData = {
          email: this.email,
          age: this.age,
          password: this.password,
          confirmPassword: this.confirmPassword,
          country: this.country,
          modules: this.modulInputs.map(modul => modul.value),
          pelajarans: this.pelajaranInputs.map(pelajaran => pelajaran.value),
          terms: this.terms
        }
        console.log(formData)
        axios.post('/users.json', formData)
          .then(res => console.log(res))
          .catch(error => console.log(error))
      }
    }
  }
</script>
}
</script>

<style scoped>
.side-collapse-container {
  background-image: url("https://politicalscience.uwo.ca/img/2018newimages/UG-Course-Info-Lower-Level-Page-Banner-2018.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.input-group-addon{
    border-right: 1;
    background: transparent;
}

.left{
  float: left;
  display: block;
}

.right{
  float: right;
  display: block;
}

.materi-form {
  width: auto;
  border: 1px solid #eee;
  box-shadow: 0px 1px 3px #ccc;
}

.input {
  margin: 25px auto;
}

.input input {
  font: inherit;
  width: 100%;
  padding: auto;
  height: 41px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.input input.pelajaran{
  font: inherit;
  padding: 20px;
  height: 41px;
  border: px solid #ccc;
}

.nav-tabs-custom{
  width: auto;
  height: 35px;
  border: 5px #ccc;
}

.fa-play-circle {
  font-size: 3vw;
}

.fa-list {
  font-size: 3vw;
}

.fa-file {
  font-size: 3vw;
}

.tab-content.first-tab {
  padding: 50px;
  margin: 50px;
}

.topikhr {  
  border: 1px solid #11AA88;
  box-shadow: 0px 4px 4px rgba(17, 170, 136, 0.25);
}

.materi-field{  
  padding: 30px;
}

.subjudul {
  text-align: left;
  margin-top: 0px;
  margin-left: 100px;
  margin-right: 100px;
}

.shadow {
  position: absolute;
  -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  box-shadow: 9px 9px 9px rgba(0, 0, 0, .5);
  padding: 20px;
  background: white;
  margin-top: 30px;
  border-radius: 20px;  
}
</style>