<template>
    <div class="container">
        <h1>Buat Ujian</h1>
        <input type="text" v-model="exam_json.exam_name" class="form-control" placeholder="Nama Ujian">
        <br>
        Deskripsi
        <textarea v-model="exam_json.exam_description" class="form-control">
            
        </textarea>
        
        <h2>Pertanyaan: </h2>
        <div class="btn-group">
            <button type="button" class="btn btn-default">Pilih Jenis Pertanyaan</button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li><a @click="pilihan_add">Pilihan Berganda</a></li>
                <li><a href="#" @click="checkbox_add">Checkbox</a></li>
                <li><a href="#" @click="torf_add">True/False</a></li>
            </ul>
        </div>
        <button type="button" style="margin-left:20px" class="btn btn-success">Save</button>

        <div style="margin-top:15px" class="panel panel-default">
            <div class="panel-body">
                <div v-for="(exam_structures, index) in exam_json.exam_structure" :key="index">
                    <div class="col-md-12" v-if="exam_structures.question_type == 'pilihan_berganda'">
                        <br>Pertanyaan {{index+1}}
                        <div class="input-group" style="margin-top:10px">
                            <input class="form-control" :name="`pilber[${index}][module]`" type="text" v-model="exam_structures.quesstion">
                            <span class="input-group-addon">
                                <button @click="deletePertanyaan(index)" type="button">x</button>
                            </span>
                        </div>
                        <br>
                        <p>Pilihan</p>
                        <button type="button" class="btn btn-primary" @click="tambahPilberChoice(index)">Tambah Pilihan</button>
                        
                        <div v-for="(exam, i) in exam_structures.question_choice" :key="'data'+i">
                            <div class="input-group" style="margin-top:10px">
                                <span class="input-group-addon">
                                    <input type="radio" :name="'torf_answer'+index" :value="exam_structures.question_choice[i]" v-model="exam_structures.question_answer[0]" :id="'torf_answer'+index">
                                </span>
                                <input v-model="exam_structures.question_choice[i]" id="msg" type="text" class="form-control" name="msg" placeholder="Pilihan Jawaban">
                                <span class="input-group-addon">
                                        <button @click="deleteChoice(index, i)" type="button">x</button>
                                    </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12" style="margin-top:10px" v-if="exam_structures.question_type == 'torf'">
                        <br>Pertanyaan {{index+1}}
                        <div class="input-group" style="margin-top:10px">
                            <input class="form-control" type="text" v-model="exam_structures.quesstion">
                            <span class="input-group-addon">
                                <button @click="deletePertanyaan(index)" type="button">x</button>
                            </span>
                        </div>
                        <br>
                        <p>Pilihan</p>
                        <div v-for="(exam, i) in exam_structures.question_choice" :key="'data'+i">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <input type="radio" :name="'torf_answer'+index" :value="exam_structures.question_choice[i]" v-model="exam_structures.question_answer[0]" :id="'torf_answer'+index">
                                    </span>
                                    <input v-model="exam_structures.question_choice[i]" readonly id="msg" type="text" class="form-control" name="msg" placeholder="Pilihan Jawaban">
                                    
                                </div>
                            </div>
                        </div>
                        <br><br>
                    </div>

                    <div class="col-md-12" style="margin-top:30px" v-if="exam_structures.question_type == 'multi_choice'">
                        Pertanyaan {{index+1}}<br>
                        <button type="button" class="btn btn-primary" @click="tambahMultiChoice(index)">Tambah Pilihan</button>
                        <br><br>
                        <div class="input-group" style="margin-top:10px">
                            <input class="form-control" type="text" v-model="exam_structures.quesstion">
                            <span class="input-group-addon">
                                <button @click="deletePertanyaan(index)" type="button">x</button>
                            </span>
                        </div>
                        <br>
                        <p>Pilihan</p>
                        <div v-for="(exam, i) in exam_structures.question_choice" :key="'data'+i">
                            <div class="col-md-6"><div class="input-group">
                                    <span class="input-group-addon">
                                        <input type="checkbox" :name="'cb'+index" :value="exam_structures.question_choice[i]" v-model="exam_structures.question_answer[i]" :id="'cb'+index">
                                    </span>
                                    <input v-model="exam_structures.question_choice[i]" id="msg" type="text" class="form-control" name="msg" placeholder="Pilihan Jawaban">
                                    <span class="input-group-addon">
                                        <button @click="deleteChoice(index, i)" type="button">x</button>
                                    </span>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'ExamDashboard',
    data: () => ({
        modules: "CreateExam",
        exam_json: {
            exam_name: "Ujian Percobaan",
            exam_description: "Ujian ini bertujuan sebagai percobaan",
            exam_structure:[
                {
                    question_type: "pilihan_berganda",
                    quesstion: "Pilihan Berganda1",
                    question_choice: [
                        "data a", "data b", "data c"
                    ],
                    question_answer: [
                        "data c"
                    ]
                },
                {
                    question_type: "torf",
                    quesstion: "True Fals",
                    question_choice: [
                        "True", "False"
                    ],
                    question_answer: [
                        "False"
                    ]
                },
                {
                    question_type: "multi_choice",
                    quesstion: "Multi Choice",
                    question_choice: [
                        "jb1", "jb2", "jb3"
                    ],
                    question_answer: [
                        true, false, true
                    ]
                }
            ],
        }
    }),
    mounted(){
        console.log(this.exam_json);
    },
    methods: {
        pilihan_add(){
            console.log("Start getting data...")
            console.log(this.exam_json.exam_structure)
            this.exam_json.exam_structure.push({
                    question_type: "pilihan_berganda",
                    quesstion: "",
                    question_choice: [
                        
                    ],
                    question_answer: [
                        
                    ]
                })
            console.log(this.exam_json.exam_structure)
        },

        checkbox_add(){
            console.log("Start getting data...")
            this.exam_json.exam_structure.push({
                question_type: "multi_choice",
                quesstion: "Multi Choice",
                question_choice: [
                    "jb1", "jb2", "jb3"
                ],
                question_answer: [
                    true, false, true
                ]
            })
            console.log(this.exam_json.exam_structure)
        },

        torf_add(){
            console.log("Start getting data...")
            this.exam_json.exam_structure.push({
                question_type: "torf",
                quesstion: "True Fals",
                question_choice: [
                    "True", "False"
                ],
                question_answer: [
                    "False"
                ]
            })
            console.log(this.exam_json.exam_structure)
        },

        tambahPilberChoice(index){
            this.exam_json.exam_structure[index].question_choice.push("")
        },

        tambahMultiChoice(index){
            this.exam_json.exam_structure[index].question_choice.push("")
        },

        deletePertanyaan(index){
            this.exam_json.exam_structure.splice(index,1)
        },

        deleteChoice(index,i){
            this.exam_json.exam_structure[index].question_choice.splice(i,1)
        }
    }
}
</script>
<style scoped>

</style>