<template>
    <div class="container" style="margin-top:20px">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 panel panel-default shadow">
                <div class="panel-body">
                    <h2>Daftar Menjadi Pelajar TCC</h2>
                    <h4>Nama Lengkap</h4>
                    <input type="text" v-model="nama" class="form-control">
                    <h4>Email</h4>
                    <input type="text" v-model="email" class="form-control">
                    <h4>Password</h4>
                    <input type="text" v-model="password" class="form-control">
                    
                    <div class="checkbox">
                    <label><input type="checkbox" value="">
                        Saya ingin mendapatkan manfaat yang maksimal dari pengalaman saya, yaitu dengan menerima email berisi tips orang dalam, motivasi,
                    pembaruan, dan promosi spesial yang dikhususkan bagi instruktur.
                    </label>
                    </div>
                    <button @click="RegisterPelajar" class="btn btn-primary">Daftar</button>
                <!-- </form> -->
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'RegisterPelajar',
  data: () => ({
      nama: "",
      email: "",
      password: ""
  }),
    methods:{

        RegisterPelajar(){
            const formData = new FormData();
            formData.append("email", this.email)
            formData.append("password", this.password)
            formData.append("fullName", this.name)
            axios.post("http://192.168.43.91:8762/tcc/api/auth/student/register", formData).then(function (res){
                console.log(res);
                if(res.status == 200){
                    this.$router.replace({ name: "Beranda" })
                    window.location.reload("true")
                }
            })
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
