<template>
    <div class="container" style="margin-top:20px">
        <div class="row">
            <div class="text-center" style="font-size:20px; margin-top: 24px">
                <a @click="registerStudent()" style="margin-right:15px">Daftar Menjadi Pelajar</a>
                |
                <a @click="registerInstructor()" style="margin-left: 15px">Daftar Menjadi Instruktur</a>
            </div>
            <hr>
        </div>
        <div class="row" v-if="this.isResgisterAsStudent == true">
            <RegisterPelajar></RegisterPelajar>
        </div>
        <div class="row" v-else>
            <RegisterInstruktur></RegisterInstruktur>
        </div>
    </div>
</template>

<script>
import RegisterInstruktur from './RegistrasiInstruktur'
import RegisterPelajar from './RegisterPelajar'

export default {
  name: 'Register',
  components: {
      RegisterInstruktur,
      RegisterPelajar
  },
  data(){
      return{
          isResgisterAsStudent: true,
      }
  },
  methods: {
      registerInstructor(){
          this.isResgisterAsStudent = false;
      },

      registerStudent(){
          this.isResgisterAsStudent = true;
      }
  }
}
</script>
<style scoped>
a{
    text-decoration: none;
    cursor: pointer;
}
</style>