<template>
    <div class="container" style="margin-top:20px">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 panel panel-default shadow">
                <div class="panel-body">
                    <h2>Daftar Menjadi Instruktur TCC</h2>
                    <h4>Nama Lengkap</h4>
                    <input type="text" class="form-control">
                    <h4>Email</h4>
                    <input type="text" class="form-control">
                    <h4>Password</h4>
                    <input type="text" class="form-control">
                    <div class="row">
                        <div class="col-md-3">
                            <h4>Foto KTP</h4>
                            <div class="box">
                                <img class="img img-responsive file-img" id="ktpImage" src="@/assets/img/portfolio/cake.png" alt="">
                                <div class="text-space">
                                    <input type="file" @change="inputImage($event)" ref="ktpUpload" name="ktpName" id="ktp" accept="image/*,application/pdf" class="upload" />
                                    <label for="ktp" class="add10 btn btn-primary">
                                        <i class="fas fa-file-upload"></i> Upload File
                                    </label>
                                    <p id="ktpImageName" name="fileName" hidden></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <h4>Foto KK</h4>
                            <div class="box">
                                <img class="img img-responsive file-img" id="kkImage" src="@/assets/img/portfolio/cake.png" alt="">
                                <div class="text-space">
                                    <input type="file" @change="inputImage" ref="kkFiles" name="kkName" id="kk" accept="image/*,application/pdf" class="upload" />
                                    <label for="kk" class="add10 btn btn-primary">
                                        <i class="fas fa-file-upload"></i> Upload File
                                    </label>
                                    <p id="kkImageName" name="fileName" hidden></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <h4>Ijazah PT</h4>
                            <div class="box">
                                <img class="img img-responsive file-img" id="ijazahImage" src="@/assets/img/portfolio/cake.png" alt="">
                                <div class="text-space">
                                    <input type="file" @change="inputImage" ref="ijazahFiles" name="ijazahName" id="ijazah" accept="image/*,application/pdf" class="upload" />
                                    <label for="ijazah" class="add10 btn btn-primary">
                                        <i class="fas fa-file-upload"></i> Upload File
                                    </label>
                                    <p id="ijazahImageName" name="fileName" hidden></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <h4>Sertifikat</h4>
                            <div class="panel panel-default box">
                                <img class="img img-responsive file-img" id="sertifikatImage" src="@/assets/img/portfolio/cake.png" alt="">
                                <div class="text-space">
                                    <input type="file" @change="inputImage" ref="sertifikatFiles" name="sertifikatName" id="sertifikat" accept="image/*,application/pdf" class="upload" />
                                    <label for="sertifikat" class="add10 btn btn-primary">
                                        <i class="fas fa-file-upload"></i> Upload File
                                    </label>
                                    <p id="sertifikatImageName" name="fileName" hidden></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="checkbox">
                    <label><input type="checkbox" value="">
                        Saya ingin mendapatkan manfaat yang maksimal dari pengalaman saya, yaitu dengan menerima email berisi tips orang dalam, motivasi,
                    pembaruan, dan promosi spesial yang dikhususkan bagi instruktur.
                    </label>
                    </div>
                    <button @click="registerInstruktur" class="btn btn-primary">Daftar Menjadi Instruktur</button>
                <!-- </form> -->
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'RegistrasiInstruktur',
  methods:{
      inputImage(event){ 
        var eventId = event.currentTarget.id;
        var fileName = eventId+'ImageName';
        var image = eventId + 'Image';
        document.getElementById(fileName).innerHTML = event.target.files[0].name;
        if (event.target.files && event.target.files[0]) {
            var reader = new FileReader();
            if(event.target.files[0].type == "application/pdf"){
                reader.onload = function (e) {
                    $('#'+image).attr('src', 'https://image.flaticon.com/icons/png/512/179/179483.png');
                }
            }else{
                reader.onload = function (e) {
                    $('#'+image).attr('src', e.target.result);    
                }
            }
            reader.readAsDataURL(event.target.files[0]);
        }
      },
      created(){
          
      },
      registerInstruktur(){
        var getObj = JSON.parse(localStorage.getItem('authenticated'));
        getObj.role = "Instruktur"
        localStorage.setItem('authenticated', JSON.stringify(getObj))
        localStorage.setItem('statusUser', true)
        this.$parent.$parent.status = getObj.role
        console.log(this.$parent.$parent.status)  
        this.$router.replace({ name: "Beranda" });
        window.location.reload("true");
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.upload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
}
.file-img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
/*.upload + label {
    width: 200px;
    height:40px;
    font-size: 1em;
    font-weight: 500;
    color: white;
    line-height: 2.6em;
    text-transform: uppercase;
    text-align: center;
    background-color: #ef494f;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0px 3px 0px #a73337;
    transition: 150ms;
}*/

.upload:focus + label,
.upload + label:hover {
    cursor:pointer;
}
.add10{
    margin-top: 10px;
}
</style>
