<template>
  <div id="app">
    <Navbar/>
    <div class="side-collapse-container">
      <router-view/>
      <notifications group="foo" position="bottom right"/>
    </div>
    <Footer/>
  </div>
</template>

<script>
// import HelloWorld from './components/HelloWorld.vue'
import Navbar from './components/public/Navbar.vue'
import Footer from './components/public/Footer.vue'

export default {
  name: 'app',
  components: {
    Navbar,
    Footer
  },
  created(){
    if(localStorage.getItem("authenticated")){
      var users = localStorage.getItem("authenticated");
      this.user = JSON.parse(users);
      this.role = this.user.role;
    } else if(localStorage.getItem("authenticated") == null){
      this.user = "pengunjung"
      this.role = "pengunjung";
    }
    if(localStorage.getItem('statusUser')){this.regInstrukturStatus = true;
    }else { this.regInstrukturStatus = false}
     
  },
  data() {
    return {
        dummy: null,
        user: null,
        role: null,
        mockAccount: {
            email: "peserta",
            password: "peserta"
        },
        regInstrukturStatus: null,
    }
  }
}
</script>